<div class="main-content  custom-maincontent-top">
   
    <div class="row view-page">

        <div class="col-md-12 col-12">
            <div class="custom-view-list">
                <div class="custom-view-div franchise-name">
                    <div>
                        <!-- Category
                        <span>Science Product</span> -->
                    </div>
                </div>
                <div class="custom-view-div">
                    <div class="schools-text">
                        <!-- Sub Category
                        <span>Students Science Kits</span> -->
                    </div>
                </div>
                <!-- <div class="custom-view-div custom-leftborder">
                    <div class="schools-text">Content Level
                        <span>Low</span>
                    </div>
                </div> -->
                <div class="custom-view-div custom-leftborder">
                    <div class="students-text">No.of Students
                        <span>1000</span>
                    </div>
                </div>
              
            </div>
            <div class="digital-content-view clearfix">
              
                
                        <div class="custom-view">
                            <div class="custom-view-content">
                                <!-- <div class="row">
                                    <div class="col-12 btn-edit">
                                      <a href="javascript:;" class="btn" (click)="showBasicDialog3()"><i class="icon icon-edit-pencil"></i></a>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <label>Content Name</label>
                                        <p>RamaKrishna</p>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <label>Content Description</label>
                                        <p>Students Science Kits</p>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <label>Category</label>
                                        <p>Robot</p>
                                    </div>
                                    <div class="col-md-4 col-12 mt-3">
                                        <label>Sub Category</label>
                                        <p>Students Science Kits</p>
                                    </div>
                                    <div class="col-md-4 col-12 mt-3">
                                        <label>Grade</label>
                                        <p>X</p>
                                    </div>
                                    <div class="col-md-4 col-12 mt-3">
                                        <label>Content Level</label>
                                        <p>Low</p>
                                    </div>
                                    <div class="col-md-4 col-12 mt-3">
                                        <label>Tags </label>
                                        <p>Battery</p>
                                    </div>
                                    <div class="col-md-4 col-12 mt-3">
                                        <label>Expairy Date</label>
                                        <p>26/03/2020</p>
                                    </div>
                                    <div class="col-md-4 col-12 mt-3">
                                        <label>Status</label>
                                        <p>Active</p>
                                    </div>
                                   
                                </div> -->
                            </div>
                        </div>
                 
                 
              
            </div>
        </div>
        
    </div>
</div>



