<div class="main-content">
    <div class="custom-table fee-list">
        <p-table #dt [columns]="cols" [value]="list" [lazy]="true" (onLazyLoad)="loadDigitalContentLazy($event)" 
            [first]="first" [paginator]="true" [rows]="10"  [totalRecords]="totalRecords">
            <ng-template pTemplate="caption">
                <div class="custom-search">
                    <div class="input-search">
                        <input type="text" pInputText size="50" placeholder="{{'general.search' | translate}}" class="mr-2"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        <i class="fa fa-search"></i> 
                    </div>
                    <button pButton type="button" label="{{'digitalContent.createContent' | translate}}" class="btn-warning" (click)="addNewContent($event)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.alias">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 7" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index">
                        <span *ngIf="i != 7 && i != 5" title="{{rowData[col.field]}}">{{rowData[col.field]}}</span>                      
                        <span *ngIf="i == 5" title="{{rowData[col.field]}}" class="d-flex action-color overlay">
                            <span *ngIf="rowData[col.field].split(',')[0]">{{rowData[col.field].split(',')[0]}}</span>
                            <span *ngIf="rowData[col.field].split(',')[1]">
                                <a href="javascript:;" (click)="selectTag($event,rowData[col.field],op3)">
                                    <span class="icon icon-plus-square-o"></span>
                                </a>
                            </span>                            
                        </span>
                        <span *ngIf="i == 7"  class="d-flex action-color">
                            <a href="javascript:;" (click)="viewContent(rowData)" title="{{'title.edit'|translate}}">
                                <span class="icon icon-edit-pencil wd-30"></span>
                            </a>
                            <a href="javascript:;" (click)="DeleteDigitalContent(rowData)" title="{{'title.delete'|translate}}">
                                <span class="icon icon-delete wd-30"></span>
                            </a>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <ng-container *ngIf="isEmptyTable()">
                    <tr>
                        <td [attr.colspan]="columns.length" class="text-center">
                            {{'general.noRecords'|translate}}
                        </td>
                    </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </div>
</div>
<p-confirmDialog header="{{'general.deleteHeader' | translate}}" 
    acceptLabel="{{'general.acceptLabel' | translate}}"
    rejectLabel="{{'general.rejectLabel' | translate}}"
    message="{{'general.confirmDelete' | translate}}" 
    icon="pi pi-exclamation-triangle" class="confirm-dialog" appendTo="body">
</p-confirmDialog>
<p-overlayPanel #op3 [dismissable]="true" appendTo="body">
    <ul *ngIf="selectedTag" class="tags-overlay">
        <li *ngFor="let tag of selectedTag">{{tag}}</li>
    </ul>
</p-overlayPanel>