<div class="main-content ticket-list">
    <div class="custom-table">
        <p-table #dt [columns]="cols" [value]="list" [lazy]="true" (onLazyLoad)="loadDigitalContentLazy($event)" 
            [first]="first" [paginator]="true" [rows]="10"  [totalRecords]="totalRecords">
            <ng-template pTemplate="caption">
                <div class="custom-search">
                    <div class="input-search">
                        <input type="text" pInputText size="50" placeholder="{{'digitalContent.search' | translate}}" class="mr-2"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        <!-- <i class="fa fa-search"></i>  -->
                    </div>
                    <button pButton *appIsGranted="'create'" type="button" label="{{'digitalContent.createContent' | translate}}" class="btn-warning" (click)="addNewContent($event)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.alias"
                        [ngClass]="[(columns.length-3===i) ? 'text-right' : '']">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != (columns.length-1)" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index" [ngClass]="[(columns.length-3===i) ? 'custom-right-text' : '']"
                        (click)="(i != (columns.length-1)) && viewContent(rowData)">
                        <span *ngIf="(i != (columns.length-2) && i != (columns.length-1))" title="{{rowData[col.field]}}">{{rowData[col.field]}}</span>                      
                        <!-- <span *ngIf="i == 5" title="{{rowData[col.field]}}" class="d-flex action-color overlay">
                            <span *ngIf="rowData[col.field].split(',')[0]">{{rowData[col.field].split(',')[0]}}</span>
                            <span *ngIf="rowData[col.field].split(',')[1]">
                                <a href="javascript:;" (click)="selectTag($event,rowData[col.field],op3)">
                                    <span class="icon icon-plus-square-o"></span>
                                </a>
                            </span>                            
                        </span> -->
                        <span *ngIf="i == (columns.length-2)">
                            <span [ngClass]="[(rowData[col.field]==='Active') ? 'bg-brown' : '',
                                              (rowData[col.field]==='Inactive')? 'bg-gold' : '']"
                                class='list-status'>{{rowData[col.field]}}</span>
                        </span>
                        <span *ngIf="i == (columns.length-1) && rowData['status'] != 'Inactive'" class="d-flex action-color" id="$index">
                            <!-- <a href="javascript:;" (click)="viewContent(rowData)" title="{{'title.edit'|translate}}">
                                <span class="icon icon-edit-pencil wd-30"></span>
                            </a> -->
                            <a *appIsGranted="'delete'" href="javascript:;" (click)="DeleteDigitalContent(rowData)"
                                 title="{{'title.delete'|translate}}">
                                <span class="icon icon-delete wd-30"></span>
                            </a>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <ng-container *ngIf="isEmptyTable()">
                    <tr>
                        <td [attr.colspan]="columns.length" class="text-center">
                            {{'general.noRecords'|translate}}
                        </td>
                    </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </div>
</div>
<p-confirmDialog header="{{'general.deleteHeader' | translate}}" 
    acceptLabel="{{'general.acceptLabel' | translate}}"
    rejectLabel="{{'general.rejectLabel' | translate}}"
    message="{{'general.confirmDelete' | translate}}" 
    icon="pi pi-exclamation-triangle" class="confirm-dialog"  >
</p-confirmDialog>
<p-overlayPanel #op3 [dismissable]="true"  >
    <ul *ngIf="selectedTag" class="tags-overlay">
        <li *ngFor="let tag of selectedTag">{{tag}}</li>
    </ul>
</p-overlayPanel>