<div class="main-content custom-lastchild-list order-list">
    <div class="custom-table notification-table">
        <p-table #dt [columns]="cols" [value]="list">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index"
                        [ngStyle]="{'width': (col.field == 'created_date_time')?'13%':''}">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index">
                        <span *ngIf="i!=0" [innerHTML]="rowData[col.field]"></span>
                        <span *ngIf="i == 0" title="{{rowData[col.field] | date: 'dd MMM yyyy'}}">{{rowData[col.field] | date: 'dd MMM yyyy'}}</span>                      
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <ng-container *ngIf="isEmptyTable()">
                <tr>
                  <td [attr.colspan]="columns.length" class="text-center">
                    No records found
                  </td>
                </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </div>
   
</div>