<div class="main-content">
    <div class="custom-table">
        <p-table #dt [columns]="cols" [value]="allUsersList"  [lazy]="true" (onLazyLoad)="loadSchoolsLazy($event)" 
            [paginator]="true" [rows]="10" [(first)]="first" [totalRecords]="totalRecords">
            <ng-template pTemplate="caption">
                <!-- <div class="custom-search">
                    <div class="input-search">
                        <input type="text" pInputText size="50" placeholder="{{'general.search' | translate}}" class="mr-2"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        <i class="fa fa-search"></i> 
                    </div>
                    <button pButton type="button" label="Create User" class="btn-warning" (click)="AddNewUser($event)"></button>
                </div> -->
                <div class="custom-search justify-content-between">
                    <div class="d-flex">
                        <div class="input-dropdown">
                            <p-dropdown [options]="franchiseList" placeholder="{{'placeholder.franchise'|translate}}" [showClear]="true"
                                [(ngModel)]="franchiseId"
                                styleClass="ui-column-filter" (onChange)="dt.filter($event.value,'franchise_id' ,'contains')"
                                optionLabel="label" filter="true"></p-dropdown>
                        </div>
                    </div>                  
                    <div class="d-flex">
                        <div class="input-search">
                            <input type="text" pInputText size="50" placeholder="{{'placeholder.search'|translate}}" class="mr-2"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                            <i class="fa fa-search"></i> 
                        </div>
                        <button pButton type="button" label="{{'users.userCreate'|translate}}" class="btn-warning" (click)="AddNewUser($event)"></button>
                    </div>                  
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.alias">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 6" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index">
                        <span *ngIf="i != 6 && i != 5" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field]}}</span>
                        <span *ngIf="i == 5">
                            <span [ngClass]="[(rowData[col.field]==='Active') ? 'bg-brown' : '',
                                                (rowData[col.field]==='Inactive')? 'bg-gold' : '']"
                                class='list-status'>{{rowData[col.field]}}</span>
                        </span>
                        <span *ngIf="i == 6" class="d-flex action-color">
                            <a href="javascript:;" (click)="editUser(rowData)" ><span class="icon icon-edit-pencil mr-2" title="{{'title.edit'|translate}}"></span></a>
                            <a href="javascript:;" (click)="deleteUser(rowData)"><span class="icon icon-delete" title="{{'title.delete'|translate}}"></span></a>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <ng-container *ngIf="isEmptyTable()">
                    <tr>
                        <td [attr.colspan]="columns.length" class="text-center">
                            {{'general.noRecords'|translate}}
                        </td>
                    </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </div>
</div>
<p-confirmDialog header="{{'general.deleteHeader' | translate}}" 
                acceptLabel="{{'general.acceptLabel' | translate}}"
                rejectLabel="{{'general.rejectLabel' | translate}}"
                message="{{'general.confirmDelete' | translate}}" 
                icon="pi pi-exclamation-triangle" class="confirm-dialog" appendTo="body">
</p-confirmDialog>