<nav class="navbar navbar-default">
    <div class="container-fluid p-0">
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <div class="logo d-flex align-items-center">
                <a href="javascript:;" class="simple-text">
                    <div class="logo-img">
                        <img src="{{prdAssetPath}}/assets/img/logo.png"/>
                    </div>
                   <!-- <span>MINDTRONIX</span>  -->
                </a>
                <a href="javascript:;" class="menu-icon" (click)="toggleMenu()">
                    <i class="icon icon-bars"></i>
                </a>
            </div>
            <div class="col-md-4" *ngIf="notificationCount>0">
                <div class="alert alert-warning">
                    <!-- <button type="button" aria-hidden="true" class="close">×</button> -->
                    <span class="text-center">Welcome to Mindtronix, You have new Notification(s) !</span>
                </div>
                <!-- <a class="navbar-brand" href="javascript:;">{{getTitle()}}</a> -->
            </div>            
            <ul class="navbar-left">
                <!-- <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-dashboard"></i>
                        <p class="hidden-lg hidden-md">{{getTitle()}}</p>
                    </a>
                </li> -->
                <li dropdown class="header-left-block">
                    <a href="javascript:;" dropdownToggle *ngIf="notificationCount>0">
                        <i class="icon icon-bell-o"></i>
                        <!-- <b class="caret"></b> -->
                        <span class="notification hidden-sm hidden-xs">{{notificationCount}}</span>
                        <!-- <p class="hidden-lg hidden-md">
                            5 Notifications
                            <b class="caret"></b>
                        </p> -->
                    </a>
                    <a href="javascript:;" [routerLink]="['/notifications']" *ngIf="notificationCount==0">
                        <i class="icon icon-bell-o"></i>
                        <span class="notification hidden-sm hidden-xs">{{notificationCount}}</span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu notification-list" role="menu">
                        <li role="menuitem" *ngFor="let not of notifications">
                            <div class="dropdown-item">
                               <span><a href="javascript:;" [routerLink]="['/notifications']" [innerHTML]="not.notification_comments"> </a> - </span>
                               <!-- <span><a href="javascript:;">#MI00001</a></span> -->
                               <span>Created On : {{not.created_date_time | date:'dd MMM yyyy'}}</span>
                            </div>
                        </li>
                        <li class="text-center"><a href="javascript:;" [routerLink]="['/notifications']" class="all-notifications">View all</a></li>
                    </ul>
                </li>
                <li class="header-right-block" dropdown>
                    <a href="javascript:;" dropdownToggle>
                       <div class="user-logo"><img src="{{prdAssetPath}}/assets/img/default-img.png"></div>
                       <div class="pi pi-chevron-down">
                           <h4>{{curUser.first_name | titlecase}} {{curUser.last_name}}</h4>
                           <p>{{curUser.user_role_name | titlecase}}</p>
                       </div>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu profile-menu" role="menu">
                        <li class="custom-access-names" *ngIf="curUser.lc_name || curUser.school_name">
                            <span *ngIf="curUser.lc_name">{{curUser.lc_name | titlecase}}</span>
                            <span *ngIf="curUser.school_name">{{curUser.school_name | titlecase}}</span>
                        </li>
                        <li><a href="javascript:void(0);" (click)="profile()">Profile</a></li>
                        <li><a href="javascript:void(0);" (click)="logout()" class="d-flex align-items-center">Logout<i class="fa fa-sign-out pl-2"></i></a></li>
                    </ul>
                </li>
            </ul>            
        </div>
    </div>
</nav>
