<div class="main-content">
    <div class="row view-page">

        <div class="col-12">
    <div class="custom-view-list student-view-list">
        <div class="custom-view-div franchise-name">
            <div>Month
                <span>Feb 2020</span>
            </div>
        </div>
       
        <div class="custom-view-div">
            <div class="schools-text"># Invoice
                <span>50</span>
            </div>
        </div>
       
        
        <div class="custom-view-div">
            <div class="schools-text"># Invoice Amount
                <span>₹ 10,000</span>
            </div>
        </div>
        <div class="custom-view-div">
            <div class="schools-text">Collected Amount
                <span>₹ 5,000</span>
            </div>
        </div>
        <div class="custom-view-div">
            <div class="payment-text">Due
                <span>₹ 5,000</span>
            </div>
        </div>
       
    </div>
    </div>
    </div>
    <div class="custom-table custom-lastchild-list custom-row-select student-invoice-list">
        <p-table #dt [columns]="cols" [value]="students" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <!-- <div class="custom-search">
                    <div class="input-search">
                        <input type="text" pInputText size="50" placeholder="Search..."
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        <i class="fa fa-search"></i> 
                    </div>
                </div> -->
                <div class="custom-search justify-content-between">
                    <div class="d-flex custom-form">
                        <div class="col-md-4 p-0 filter-form">
                            <p-calendar name="from_date" [showIcon]="true" [maxDate]="maxDate" placeholder="Invoice From Date"></p-calendar>
                        
                        </div>
                        <div class="col-md-4 p-0 filter-form ml-2">
                            <p-calendar name="to_date" [showIcon]="true" [maxDate]="maxDate" placeholder="Invoice To Date"></p-calendar>
                        
                        </div>
                        <div class="input-dropdown ml-2">
                            <p-dropdown [options]="staus" placeholder="Select Status" 
                                styleClass="ui-column-filter"
                                (onChange)="onChange2($event)"
                                optionLabel="label" filter="true"></p-dropdown>
                        </div>
                    </div>                  
                    <div class="d-flex">
                        <div class="input-search">
                            <input type="text" pInputText size="50" placeholder="Search..." class="mr-2"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                            <i class="fa fa-search"></i> 
                        </div>
                        <!-- <button pButton type="button" label="Create Student" class="btn-warning" (click)="AddNewStudent($event)"></button> -->
                    </div>                  
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 7" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index" (click)="viewFranchise(rowData)">
                        <span *ngIf="i!=6 && i!=7" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field]}}</span>
                        <span *ngIf="i == 6">
                            <span [ngClass]="[(rowData[col.field]==='Paid') ? 'bg-brown' : '',
                                              (rowData[col.field]==='Over Due')? 'bg-gold' : '',
                                              (rowData[col.field]==='Due')? 'bg-orange' : '',
                                              (rowData[col.field]==='Invoiced')? 'bg-darkblue' : '']"
                                class='list-status'>{{rowData[col.field]}}</span>
                        </span>
                        <!-- <span *ngIf="i == 7">
                            <span [ngClass]="[(rowData[col.field]==='Paid') ? 'bg-brown' : '',
                            (rowData[col.field]==='Pending')? 'bg-gold' : '',
                            (rowData[col.field]==='paid') ? 'bg-blue' : '',
                            (rowData[col.field]==='pending') ? 'bg-green' : '']"
                            class='list-status'>{{rowData[col.field]}}</span>
                        </span> -->
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>