<p>fee-structure-list works!</p>
<p>fee-structure-list works!</p>
<p>fee-structure-list works!</p>
<p>fee-structure-list works!</p>
<p>fee-structure-list works!</p>
<p>fee-structure-list works!</p>
<p>fee-structure-list works!</p>
<p>fee-structure-list works!</p>
<p>fee-structure-list works!</p>
<p>fee-structure-list works!</p>
<div class="custom-search">
    
    <button pButton type="button" label="Add" class="btn-warning" (click)="AddNewFeeStructure($event)">Add</button>
</div>
<p>fee-structure-list works!</p>
<p>fee-structure-list works!</p>
