.student-view-list{
    .trainers-text span {
        font-size: 14px;
        font-weight: 400;
        color: #303030;
        line-height: 22px;
    }
 .schools-text span {
        font-size: 14px;
        font-weight: 400;
        color: #303030;
        line-height: 22px;
    }
   .students-text span {
        font-size: 17px;
    }
}
.view-page .custom-view-list .franchise-name {
    width: 1%;
}