<div class="main-content">
    <div class="custom-form">
        <h4 class="custom-form-heading" *ngIf="isUpdate">{{'fee.updatefee' |translate}}</h4>
        <h4 class="custom-form-heading" *ngIf="!isUpdate">{{'fee.createfee' |translate}}</h4>
        <div class="custom-form-content">
            <form [formGroup]="feeForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'fee.feeTitle'|translate}} <span>*</span></label>
                            <input pinputtext placeholder="{{'fee.feeTitle'|translate}}" formControlName="name" name="name" type="text" required>
                            <div class="invalid-feedback"
                                *ngIf="feeForm.controls.name.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'"> {{'errorMessages.feeTitle'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 input-addon-iconleft">
                        <label>{{'fee.feeAmount'|translate}}(₹)<span>*</span></label>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">₹</span>
                            <input type="text" placeholder="{{'fee.feeAmount'|translate}}" pKeyFilter="pint" formControlName="amount" name="amount" required>
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="feeForm.controls.amount.invalid && submitted!=null && !submitted"
                            [ngClass]=" 'error'">{{'errorMessages.feeAmount'|translate}}
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>{{'fee.term'|translate}} <span>*</span></label>
                        <p-dropdown [options]="term" formControlName="term" placeholder="{{'placeholder.term'|translate}}" itemSize="30"
                            name="term" optionLabel="label" required></p-dropdown>
                        <div class="invalid-feedback"
                            *ngIf="feeForm.controls.term.invalid && submitted!=null && !submitted"
                            [ngClass]=" 'error'"> {{'errorMessages.feeTerm'|translate}}
                        </div>
                    </div>
                    <div class="col-md-4 col-12 input-addon-iconright">
                        <div class="form-group">
                            <label>{{'fee.discount'|translate}} (%)</label>
                            <div class="ui-inputgroup">
                                <input pinputtext type="text" pKeyFilter="num" currencyMask  [maxlength]="5" placeholder="{{'fee.discount'|translate}}" formControlName="discount" name="discount">
                                <span class="ui-inputgroup-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>{{'fee.discountDetails'|translate}}</label>
                        <input pinputtext type="text" placeholder="{{'fee.discountDetails'|translate}}" formControlName="discount_details" name="discount_details">
                    </div>
                    <div class="col-md-4 col-12">
                        <label>{{'fee.tax'|translate}} (%)</label>
                        <div class="ui-inputgroup">
                            <input pinputtext type="text" pKeyFilter="num" currencyMask 
                            [maxlength]="5" placeholder="{{'fee.tax'|translate}}" formControlName="tax" name="tax">
                            <span class="ui-inputgroup-addon">%</span> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>{{'fee.dueDays'|translate}}</label>
                        <input pinputtext type="text" pKeyFilter="pint" placeholder="{{'fee.dueDays'|translate}}" [maxlength]="3" formControlName="due_days" name="dueDays">
                    </div>
                    <div class="col-md-4 col-12">
                        <label>{{'fee.status'|translate}} <span>*</span></label>
                        <p-dropdown [options]="status" formControlName="status" placeholder="{{'placeholder.status'|translate}}" itemSize="30"
                            name="status" optionLabel="label" required></p-dropdown>
                        <div class="invalid-feedback"
                            *ngIf="feeForm.controls.status.invalid && submitted!=null && !submitted"
                            [ngClass]=" 'error'"> {{'dropdown.status'|translate}}
                        </div>
                    </div>
                    <div class="col-12 text-right custom-btn">
                        <button pButton type="submit" label="{{'buttons.save'|translate}}" *ngIf="!isUpdate" class="btn-warning mr-2"></button>
                        <button pButton type="submit" label="{{'buttons.update'|translate}}" *ngIf="isUpdate" class="btn-warning mr-2"></button>
                        <button pButton type="button" label="{{'buttons.cancel'|translate}}" (click)="goToList()" class="btn-default"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>