<div class="main-content">
    <div class="custom-form">
        <h4 class="custom-form-heading">{{pageTitle}}</h4>
        <div class="custom-form-content">
            <form [formGroup]="feeForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Fee Title <span>*</span></label>
                            <input pinputtext placeholder="Fee Title" formControlName="name" name="name" type="text" required>
                            <div class="invalid-feedback"
                                *ngIf="feeForm.controls.name.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'"> Fee Title is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Fee Amount(₹)<span>*</span></label>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">₹</span>
                            <input type="text" placeholder="Amount" pKeyFilter="int" formControlName="amount" name="amount" required>
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="feeForm.controls.amount.invalid && submitted!=null && !submitted"
                            [ngClass]=" 'error'"> Amount is required
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Term <span>*</span></label>
                        <p-dropdown [options]="term" formControlName="term" placeholder="Select Term" itemSize="30"
                            name="term" optionLabel="label" required></p-dropdown>
                        <div class="invalid-feedback"
                            *ngIf="feeForm.controls.term.invalid && submitted!=null && !submitted"
                            [ngClass]=" 'error'"> Term is required
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Discount (%)</label>
                            <div class="ui-inputgroup">
                                <input pinputtext type="text" pKeyFilter="int" placeholder="Discount" formControlName="discount" name="discount">
                                <span class="ui-inputgroup-addon">%</span> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Discount Details</label>
                        <input pinputtext type="text" placeholder="Discount Details" formControlName="discount_details" name="discount_details">
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Status <span>*</span></label>
                        <p-dropdown [options]="status" formControlName="status" placeholder="Select Status" itemSize="30"
                            name="status" optionLabel="label" required></p-dropdown>
                        <div class="invalid-feedback"
                            *ngIf="feeForm.controls.status.invalid && submitted!=null && !submitted"
                            [ngClass]=" 'error'"> Status is required
                        </div>
                    </div>
                    <div class="col-12 text-right custom-btn">
                        <button pButton type="submit" label="Save" class="btn-warning mr-2"></button>
                        <button pButton type="button" label="Cancel" (click)="goToList()" class="btn-default"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>