<div class="main-content custom-maincontent-top">
    <div class="row view-page">
        <div class="col-md-8 col-12">
            <div class="custom-view-list">
                <div class="student-view-list">
                    <div class="custom-view-div franchise-name custom-block">
                        <div>{{'invoices.view.invoice'|translate}}
                            <span>{{franchiseInvoiceObj.invoice_number}}</span>
                        </div>
                    </div>
                </div>
                <div class="student-view-list mt-2">
                <div class="custom-view-div franchise-name">
                    <div class="">{{'invoices.view.amount'|translate}}
                        <span>₹ {{franchiseInvoiceObj.amount |number}}</span>
                    </div>
                </div>
                <div class="custom-view-div">
                    <div class="schools-text">{{'invoices.view.invoiceDate'|translate}}
                        <span>{{franchiseInvoiceObj.invoice_date |date:'dd MMM yyyy' }}</span>
                    </div>
                </div>
                 <!-- For paid amount-->
                 <div class="custom-view-div franchise-name">
                    <div class="pl-2">{{'invoices.view.paidAmount'|translate}}
                         <span> ₹ {{franchiseInvoiceObj.paid_amount |number}}</span>
                    </div>
                </div>
                   <!-- For paid amount close-->
                <div class="custom-view-div">
                    <div class="schools-text">{{'invoices.view.paidDate'|translate}}
                        <span>{{franchiseInvoiceObj.paid_date |date: 'dd MMM yyyy'}}</span>
                    </div>
                </div>
                <div class="custom-view-div">
                    <div class="payment-text">{{'invoices.view.status'|translate}}
                        <span [ngClass]="[(franchiseInvoiceObj.status==='paid') ? 'bg-brown' : '',
                                    (franchiseInvoiceObj.status==='overdue')? 'bg-gold' : '',
                                    (franchiseInvoiceObj.status==='due')? 'bg-orange' : '',
                                    (franchiseInvoiceObj.status==='Invoiced')? 'bg-darkblue' : '']">
                             {{franchiseInvoiceObj.status}}
                        </span>
                    </div>
                </div>
            </div>
            </div>
            <div class="custom-view ticket-view-content">
                <div class="row">
                  <div class="col-md-4 col-12">
                        <label>{{'franchise.add.franchiseName'|translate}}</label>
                        <p>{{franchiseInvoiceObj.franchise_name}}</p>
                  </div>
                  <div class="col-md-4 col-12">
                        <label>{{'student.add.studentContactEmail'|translate}}</label>
                        <p>{{franchiseInvoiceObj.email}}</p>
                  </div>
                  <div class="col-md-4 col-12">
                       <label>{{'invoices.view.contactNumber'|translate}}</label>
                       <p>{{franchiseInvoiceObj.primary_contact}}</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 pl-0">
            <div class="custom-static-view text-center">
                <span *appIsGranted="'edit'">
                    <button pButton type="submit" class="btn-warning"  *ngIf="franchiseInvoiceObj.status!='paid'" (click)="showBasicDialog(true)" label="Update Status"></button>
                </span>
                <div class="text-center mt-2 invoice-download">
                   <a href="javascript:;">Invoice Download<i class="icon icon-download-1"></i></a>
                </div>
            </div>
            <div class="custom-static-view mt-3">
                <h4>Previous Invoices</h4>
                <div class="custom-table custom-lastchild-list">
                    <p-table #dt [columns]="cols" [value]="previouslist" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <!-- <p-sortIcon *ngIf="i != 7" [field]="col.field"></p-sortIcon> -->
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns ; let i = index" (click)="viewPreviousInvoices(rowData)">
                                    <span *ngIf="i!=3 && i!=4 && i!=1 && i!=2" title="{{rowData[col.field]}}">{{rowData[col.field]}}</span>
                                    <span *ngIf="i!=3 && i!=4 && i==1" title="{{rowData[col.field] |date:'dd MMM yyyy'}}">{{rowData[col.field] |date:'dd MMM yyyy'}}</span>
                                    <span *ngIf="i!=3 && i!=4 && i==2" title="{{rowData[col.field] | number}}">₹ {{rowData[col.field] |number}}</span>
                                    <span *ngIf="i == 3">
                                        <span [ngClass]="[(rowData[col.field]==='paid') ? 'bg-brown' : '',
                                                (rowData[col.field]==='Overdue')? 'bg-gold' : '',
                                                (rowData[col.field]==='due')? 'bg-orange' : '',
                                                (rowData[col.field]==='Invoiced')? 'bg-darkblue' : '']"
                                            class='list-status'>{{rowData[col.field]}}</span>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <ng-container *ngIf="isEmptyTable()">
                                <tr>
                                    <td [attr.colspan]="columns.length" class="text-center">
                                        {{'general.noRecords'|translate}}
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Update Status"  [modal]="true" [draggable]="false" [resizable]="false"    [(visible)]="displayBasic" [style]="{width: '45vw'}" [baseZIndex]="10000">
    
    <form [formGroup]="updateForm" (ngSubmit)="updateStatus()">
        <div class="row custom-form">
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label>{{'franchise.add.status'|translate}} <span>*</span></label>
                    <p-dropdown [options]="invoiceStatus" placeholder="{{'placeholder.status'|translate}}" itemSize="30"
                    name="status" optionLabel="label" formControlName="status" [showClear]="true" 
                    (onChange)="getFields()" required></p-dropdown>
                    <div class="invalid-feedback"
                        *ngIf="updateForm.controls.status.invalid && submitted!=null && !submitted"
                        [ngClass]=" 'error'"> {{'errorMessages.status'|translate}}
                   </div>
                </div>
            </div>
            <div class="col-md-6 col-12" *ngIf="enableField">
                <div class="form-group">
                    <label>{{'invoices.view.paymentType'|translate}} <span>*</span></label>
                    <p-dropdown [options]="type" formControlName="payment_type" placeholder="Select Payment Type" itemSize="30"
                                optionLabel="label" [showClear]="clear" name="payment_type" required>
                    </p-dropdown>
                    <div class="invalid-feedback"
                        *ngIf="updateForm.controls.payment_type.invalid && submitted!=null && !submitted"
                        [ngClass]=" 'error'">{{'errorMessages.paymentTypeReq'|translate}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12" *ngIf="enableField">
                <div class="form-group">
                    <label>{{'invoices.view.paidAmount'|translate}} <span>*</span></label>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">₹</span>
                        <input type="text" placeholder="{{'placeholder.amount'|translate}}" pKeyFilter="pint" formControlName="amount" name="amount" required>
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="updateForm.controls.amount.invalid && submitted!=null && !submitted"
                        [ngClass]=" 'error'">{{'errorMessages.amountReq'|translate}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Comment</label>
                    <textarea pInputTextarea placeholder="Comment.." formControlName="comments" name="comments"></textarea>
                </div>
            </div>
        </div>      
        <div class="col-12 p-0 text-right mb-2">
            <button type="submit" pButton class="btn-warning mr-2" label="{{'buttons.update'|translate}}"></button>
            <button type="submit" pButton class="btn-default"  (click)="showBasicDialog(false)" label="{{'buttons.cancel'|translate}}"></button>
        </div>       
   </form>

</p-dialog>