<div class="main-content">
    <div class="custom-form">
        <h4 class="custom-form-heading">Add Franchise</h4>
        <div class="custom-form-content">
            <!-- <form> -->
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input pinputtext type="text">
                        </div>
                    </div>    
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Dropdown</label>
                            <p-dropdown [options]="cities" itemSize="30"></p-dropdown>
                        </div>
                    </div>                    
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" pPassword />
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Calender</label>
                        <p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Number</label>
                        <input type="text" pKeyFilter="int">
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Textarea</label>
                            <textarea pInputTextarea></textarea>
                        </div>
                    </div>
                    <!-- <div class="col-md-4 col-12">
                        <label>FileUpload</label>
                        <p-fileUpload name="myfile[]" url="./upload.php" customUpload="true" accept="image/*"
                            maxFileSize="1000000">
    
                        </p-fileUpload>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Multiple FileUpload</label>
                        <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"></p-fileUpload>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Checkbox</label>
                        <p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities"
                            inputId="ny"></p-checkbox>
                    </div> -->
                    <div class="col-12 text-right">
                        <button pButton type="button" icon="pi pi-check" label="Save" class="btn-warning mr-2"></button>
                        <button pButton type="button" icon="pi pi-times" label="Cancel" class="btn-default"></button>
                    </div>
                </div>
            <!-- </form> -->
        </div>
    </div>
</div>