<div class="main-content">
    <div class="custom-form">
        <h4 class="custom-form-heading">{{'digitalContent.createContent'|translate}}</h4>
        <div class="custom-form-content">
            <form [formGroup]="digitalForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'digitalContent.add.contentName'|translate}} <span>*</span></label>
                            <input pinputtext placeholder="{{'digitalContent.add.contentName'|translate}}" formControlName="name" name="name" type="text" required>
                            <div class="invalid-feedback"
                                *ngIf="digitalForm.controls.name.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'"> {{'errorMessages.contentName'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="form-group">
                            <label>{{'digitalContent.add.contentDescription'|translate}}</label>
                            <textarea pInputTextarea placeholder="{{'digitalContent.add.contentDescription'|translate}}" formControlName="description" name="Content Description"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'digitalContent.add.category'|translate}} <span>*</span></label>
                            <p-dropdown [options]="categories" formControlName="category" placeholder="{{'placeholder.category'|translate}}" itemSize="30"
                                name="category" optionLabel="label"  filter ="true" required></p-dropdown>
                            <div class="invalid-feedback"
                                *ngIf="digitalForm.controls.category.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'"> {{'errorMessages.category'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'digitalContent.add.subCategory'|translate}} <span>*</span></label>
                            <p-dropdown [options]="sub_categories" formControlName="sub_category" placeholder="{{'placeholder.subCategory'|translate}}" itemSize="30"
                                name="sub_category" optionLabel="label" filter ="true" required></p-dropdown>
                            <div class="invalid-feedback"
                                *ngIf="digitalForm.controls.sub_category.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'errorMessages.subCategory'|translate}}
                            </div>
                       </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'digitalContent.add.grade'|translate}} <span>*</span></label>
                            <p-dropdown [options]="grade" placeholder="{{'placeholder.grade'|translate}}" formControlName="grade" itemSize="30"
                                name="grade" optionLabel="label" filter ="true" required></p-dropdown>
                            <div class="invalid-feedback"
                                *ngIf="digitalForm.controls.grade.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'errorMessages.grade'|translate}}
                            </div>
                       </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'digitalContent.add.contentLevel'|translate}} <span>*</span></label>
                            <p-dropdown [options]="content_level" formControlName="content_level" placeholder="{{'placeholder.contentLevel'|translate}}" itemSize="30"
                                name="content_level" optionLabel="label" filter ="true" required></p-dropdown>
                            <div class="invalid-feedback"
                                *ngIf="digitalForm.controls.content_level.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'errorMessages.contentLevel'|translate}}
                            </div>
                       </div>
                    </div>
                    <!-- <div class="col-md-4 col-12">
                        <label>{{'digitalContent.add.tags'|translate}} <span>*</span></label>
                        <p-multiSelect [options]="tags" optionLabel="label" formControlName="tags"
                            name="tags" defaultLabel="{{'placeholder.tags'|translate}}" filter ="true" required></p-multiSelect>  
                        <div class="invalid-feedback"
                            *ngIf="digitalForm.controls.tags.invalid && submitted!=null && !submitted"
                            [ngClass]=" 'error'">{{'errorMessages.contentTags'|translate}}
                        </div>
                    </div> -->
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'digitalContent.add.expiryDate'|translate}}</label>
                            <p-calendar name="expiry_date" formControlName="expiry_date" [showIcon]="true" [maxDate]="maxDate"></p-calendar>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>{{'digitalContent.add.tags'|translate}} <span>*</span></label>
                        <p-chips formControlName="tags" placeholder="Enter your tags here" [allowDuplicate]="false"></p-chips> 
                        <div class="invalid-feedback"
                            *ngIf="digitalForm.controls.tags.invalid && submitted!=null && !submitted"
                            [ngClass]=" 'error'">{{'errorMessages.contentTags'|translate}}
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'digitalContent.add.status'|translate}} <span>*</span></label>
                            <p-dropdown [options]="status"  itemSize="30" formControlName="status" placeholder="{{'placeholder.status'|translate}}"
                                name="status" optionLabel="label" required></p-dropdown>
                            <div class="invalid-feedback"
                                *ngIf="digitalForm.controls.status.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'dropdown.status'|translate}}
                            </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'digitalContent.add.fileUpload'|translate}} </label>
                            <input type="file" name="files" multiple formControlName="files" accept=".jpg, .jpeg, .png, .mp4, .mov , .pdf, .exs"
                                (change)="onFileSelect($event)" style="height: 45px;" />
                            <div class="invalid-feedback"
                                [ngClass]=" 'error'">{{'errorMessages.allowedFileTypes'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12"></div>
                    <div class="col-md-4 col-12" *ngIf="fileArr.length>0"></div>
                    <div class="col-md-6 col-12 mt-10" *ngIf="fileArr.length>0">
                        <div class="form-group">
                            <label>{{'digitalContent.add.fileSelected'|translate}} </label>
                            <div *ngFor="let file of fileArr; let i = index">
                                <span class="f11 mr-2">{{file.name}}</span>
                                <span class="f11">{{file.sizeVal}}</span>
                                <span>
                                    <a href="javascript:;" (click)="deleteSelectedFile(i)" title="{{'title.delete'|translate}}">
                                        <span class="icon icon-delete wd-30"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-right custom-btn">
                        <button pButton type="submit" label="{{'buttons.save'|translate}}" class="btn-warning mr-2"></button>
                        <button pButton type="button" label="{{'buttons.cancel'|translate}}" (click)="goToList()" class="btn-default"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>