<div class="main-content ticket-list">
    <div class="custom-table">
        <p-table #dt [columns]="cols" [value]="TicketList"  [lazy]="true" 
                (onLazyLoad)="loadTicketLazy($event)" [paginator]="true" 
                [totalRecords]="totalRecords" [rows]="10">
            <ng-template pTemplate="caption">               
                <div class="custom-search">
                    <div class="input-search">
                        <input type="text" pInputText size="50" placeholder="{{'placeholder.search'|translate}}" class="mr-2"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        <i class="fa fa-search"></i> 
                    </div>
                    <button pButton type="button" label="{{'ticket.createTicket'|translate}}" class="btn-warning" (click)="AddNewTicket($event)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 6" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
            
                    <td *ngFor="let col of columns ; let i = index" (click)="viewTicket(rowData)">
                        <span *ngIf="i != 6 && i != 4" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field]}}</span>
                        <span *ngIf="i != 6 && i == 4" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field] | date: 'dd MMM ,yyyy'}}</span> 
                        <span *ngIf="i == 6" class="d-flex action-color justify-content-center">
                            <a href="javascript:;" ><span class="icon icon-eye-2 mr-1" title="{{'title.view'|translate}}"></span></a>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <ng-container *ngIf="isEmptyTable()">
                <tr>
                  <td [attr.colspan]="columns.length" class="text-center">
                    {{'general.noRecords'|translate}}
                  </td>
                </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </div>
</div>