.custom-search .input-search i {
    right: 15px;
}
.custom-form{
    border: none;
    background: transparent;
}
.franchise-name {
    width: 1% !important;
}
.payment-text{
    padding-left: 10px;
    span{
        font-size: 20px;
        font-weight: bold;
        color: #e87a26;
        line-height: 22px;
    }
}