<div class="main-content">
    <div class="roll-tabs-heading">
        <div class="tabs-heading-leftblock">
           <h4>{{'roles.applicationRoles'|translate}}</h4>
        </div>
        <div class="tabs-heading-rightblock">
           <h4>{{'roles.moduleAccess'|translate}}</h4>
           <button pButton type="submit" label="{{'buttons.save'|translate}}" class="btn-warning"></button>
        </div>
    </div>
    <div class="roll-tabs">
        <p-tabView *ngFor="let col of roles" (click)="viewModules(col)">
            <p-tabPanel header="{{col.user_role_name}}" leftIcon="pi pi-caret-right">
                <!-- <div class="roletab-content">
                    <h4>{{rows.module_name}}</h4> 
                     <div>
                        <p-checkbox name="group1" value="one" label="" 
                        inputId="one"></p-checkbox>
                    </div>
                </div> -->
            </p-tabPanel>
        </p-tabView>
    </div>   
</div>
