.role-custom-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    h4{
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        margin: 0 0 6px;
        min-width: 55px;
        text-align: center;
    }
}
.wd-55{
    width: 55px;
    text-align: center;
}