<div class="main-content">
    <div class="roll-tabs-heading">
        <div class="tabs-heading-leftblock">
           <h4>{{'roles.applicationRoles'|translate}}</h4>
        </div>
        <div class="tabs-heading-rightblock">
           <h4>Module Access</h4>
           <button pButton type="button" (click)="submitRoleAccess()" label="Save" class="btn-warning"></button>
        </div>
    </div>
    <div class="roll-tabs">
        <p-tabView (onChange)="onRoleChange($event)">
            <p-tabPanel leftIcon="pi pi-caret-right" *ngFor="let role of roles;let i=index;"
                header="{{role.user_role_name}}" [selected]="i===currentRole">
                <div class="roletab-content" *ngFor="let mod of modules;let m=index;">
                    <h4>{{mod.module_name}}</h4>
                    <div>
                        <p-checkbox name="checkbox"
                            [value]="mod.is_access_status" [(ngModel)]="mod.is_access_status"
                            [attr.checked]="mod.is_access_status == '1' ? true : false" 
                            binary="true">
                        </p-checkbox>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>   
</div>
