<div class="container-fluid login-page p-0">
    <div class="container">
        <!-- <div class="row col-md-4">
            <div class="card card-profile">
               <div class="card-header card-header-danger">
                   <div class="nav-tabs-navigation">
                       <div class="nav-tabs-wrapper">
                           <span class="nav-tabs-title">Login</span>
                       </div>
                   </div>
               </div>
               <div class="card-body">
                   <div class="tab-content">
                       <div class="tab-pane active" id="profile">
                           <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                               <table class="table" cellspacing="0">
                                   <tr>
                                       <td>
                                           <mat-form-field class="example-full-width">
                                               <input matInput placeholder="Username" formControlName="username"
                                                   name="username" type="email" required email>
                                           </mat-form-field>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td>
                                           <mat-form-field class="example-full-width">
                                               <input matInput placeholder="Password" formControlName="password"
                                                   type="password" name="password" required>
                                           </mat-form-field>
                                       </td>
                                   </tr>
                                   <tr>
                                       <button mat-raised-button color="primary" type="submit">SIGN IN</button>
                                   </tr>
                               </table>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
       </div> -->
        <div class="d-100vh-va-middle">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="card-profile">
                        <div class="">
    
                            <div class="login-logo">
                                <img src="assets/img/logo.png" alt="">
                            </div>
                            <div class="login-title">
                                <h1 class="n"><span>Login</span></h1>
                            </div>
    
                        </div>
                        <div class="custom-form">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input pinputtext placeholder="User Name" formControlName="username"
                                            name="username" type="email" required>
                                        <div class="invalid-feedback"
                                            *ngIf="form.controls.username.invalid && submitted!=null && !submitted"
                                            [ngClass]=" 'error'">  {{'login.userNameError' | translate }} 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input pPassword placeholder="Password" formControlName="password"
                                        [feedback]="false" type="password" name="password" required>
                                        <div class="invalid-feedback"
                                            *ngIf="form.controls.password.invalid && submitted!=null && !submitted"
                                            [ngClass]=" 'error'"> {{'login.passwordError' | translate }} 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button pButton type="submit" label="SIGN IN" class="btn-warning"></button>
                                </div>
                                <div class="col-12 forget-psd">
                                    <a class="" href="javascript:;">Forgot password ?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>