<div class="main-content">
    <div class="row view-page">
        <div class="col-md-12 col-12">       
            <div class="custom-tabs clearfix">
                <p-tabView>
                    <p-tabPanel header="{{'profile.basicInformation'|translate}}">
                        <div class="custom-form">
                            <div class="custom-view-content">
                                <form [formGroup]="basicInformationForm" (ngSubmit)="submit()">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label>{{'profile.firstName'|translate}}</label>
                                                <input pinputtext placeholder="{{'placeholder.firstName'|translate}}" name="name" formControlName="first_name" type="text" required>
                                                <div  class="invalid-feedback"
                                                    *ngIf="basicInformationForm.controls.first_name.invalid && submitted!=null && !submitted"
                                                    [ngClass]=" 'error'">{{'errorMessages.name'|translate}}
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label>{{'profile.lastName'|translate}}</label>
                                                <input pinputtext placeholder="{{'placeholder.lastName'|translate}}" name="name" formControlName="last_name" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label>Role</label>
                                                <input pinputtext placeholder="Role " name="role" formControlName="role" disabled="true" type="text" >
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label>{{'profile.contactEmail'|translate}} <span>*</span></label>
                                                <input pinputtext placeholder="Contact Email" name="email" formControlName="email" type="email" disabled="true">
                                                <div  class="invalid-feedback"
                                                    *ngIf="basicInformationForm.controls.email.invalid && submitted!=null && !submitted"
                                                    [ngClass]=" 'error'">{{'errorMessages.contactEmail'|translate}}
                                                </div>  
                                        </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label>{{'profile.contactNumber'|translate}}</label>
                                                <input type="text" placeholder="Contact Number" pKeyFilter="pint" formControlName="phone_no"
                                                name="contact_number" required>
                                                <div  class="invalid-feedback"
                                                    *ngIf="basicInformationForm.controls.email.invalid && submitted!=null && !submitted"
                                                    [ngClass]=" 'error'">{{'errorMessages.contactNumber'|translate}}
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-12 text-right custom-btn">
                                            <button pButton type="submit" label="{{'buttons.update'|translate}}" class="btn-warning mr-2"></button>
                                            <button pButton type="button" label="{{'buttons.cancel'|translate}}" (click)= "goToList()" class="btn-default"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{'profile.changePassword'|translate}}">
                        <div class="custom-form">
                            <div class="custom-view-content">
                                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label>{{'profile.oldPassword'|translate}}</label>
                                                <input pPassword  placeholder="Old Password" formControlName="old_password" name="password" type="password" required>
                                                <div class="invalid-feedback"
                                                    *ngIf="passwordForm.controls.old_password.invalid && submitted!=null && !submitted"
                                                    [ngClass]=" 'error'">{{'errorMessages.oldPassword'|translate}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 mb-3">
                                            <div class="form-group">
                                                <label>{{'profile.newPassword'|translate}}</label>
                                                <input   placeholder="New Password" formControlName="new_password" name="password" type="password" required>
                                                <div class="invalid-feedback"
                                                    *ngIf="passwordForm.controls.new_password.invalid && submitted!=null && !submitted"
                                                    [ngClass]=" 'error'">{{'errorMessages.password'|translate}}
                                                </div>
                                                <!-- <div class="invalid-feedback" *ngIf="passwordForm.controls.newPassword">Password Must contain atleast one number one capital letter</div> -->
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 mb-3">
                                            <div class="form-group">
                                                <label>{{'profile.confirmPassword'|translate}}</label>
                                                <input pPassword  placeholder="Confirm Password" formControlName="confirm_password" name="password" type="password" required>
                                                <div class="invalid-feedback"
                                                    *ngIf="passwordForm.controls.confirm_password.invalid && submitted!=null && !submitted"
                                                    [ngClass]=" 'error'"> {{'errorMessages.confirmPassword'|translate}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-right custom-btn">
                                            <button pButton type="submit" label="{{'buttons.update'|translate}}" class="btn-warning mr-2"></button>
                                            <button pButton type="button" label="{{'buttons.cancel'|translate}}" (click)= "goToList()" class="btn-default"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{'profile.others'|translate}}" *ngIf="!hideothers">
                        <div class="custom-form">
                            <div class="custom-view-content">
                                <form [formGroup]="othersForm" (ngSubmit)="ifSubmit()">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label>{{'profile.ima'|translate}} </label>
                                                <p-dropdown [options]="designation" itemSize="30"  formControlName="type"
                                                    name="designation" optionLabel="label" required ></p-dropdown>
                                                <div class="invalid-feedback"
                                                    *ngIf="othersForm.controls.type.invalid && submitted!=null && !submitted"
                                                    [ngClass]=" 'error'"> Type required
                                            </div>                
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label>{{'profile.grade'|translate}}</label>
                                                <p-dropdown [options]="grade" placeholder="Grade" itemSize="30" 
                                                    name="grade" formControlName="grade" optionLabel="label" ></p-dropdown>
                                                <div class="invalid-feedback"
                                                    *ngIf="othersForm.controls.grade.invalid && submitted!=null && !submitted"
                                                    [ngClass]=" 'error'"> Grade required
                                            </div> 
                                        </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label>School Name</label>
                                                <p-dropdown [options]="schools" placeholder="{{'placeholder.schoolName'|translate}}" itemSize="30" 
                                                    name="school_name" formControlName="school_name" optionLabel="label" ></p-dropdown>
                                                <div class="invalid-feedback"
                                                    *ngIf="othersForm.controls.school_name.invalid && submitted!=null && !submitted"
                                                    [ngClass]=" 'error'"> School Name required
                                            </div> 
                                        </div>
                                        </div>
                                        <div class="col-12 text-right custom-btn">
                                            <button pButton type="submit" label="{{'buttons.update'|translate}}" class="btn-warning mr-2"></button>
                                            <button pButton type="button" label="{{'buttons.cancel'|translate}}" (click)= "goToList()" class="btn-default"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>