<div class="main-content">
    <div class="custom-table school-list">
        <p-table #dt [columns]="cols" [value]="schoolsList"  [lazy]="true" (onLazyLoad)="loadSchoolsLazy($event)" 
        [paginator]="true" [rows]="10" [(first)]="first" [totalRecords]="totalRecords">
            <ng-template pTemplate="caption">
                <!-- <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Global Filter" class="mr-2"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                    <button pButton type="button" label="Add" class="btn-warning" (click)="AddNewFranchise($event)"></button>
                </div> -->
                <!-- <div class="custom-search">
                    <div class="input-search">
                        <input type="text" pInputText size="50" placeholder="{{'general.search' | translate}}" class="mr-2"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        <i class="fa fa-search"></i> 
                    </div>
                    <button pButton type="button" label="Add" class="btn-warning" (click)="AddNewSchool($event)"></button>
                </div> -->
                <!-- <div class="custom-search">
                    <div class="input-search">
                        <input type="text" pInputText size="50" placeholder="{{'general.search' | translate}}" class="mr-2"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        <i class="fa fa-search"></i> 
                    </div>
                    <button pButton type="button" label="Create School" class="btn-warning" (click)="AddNewSchool($event)"></button>
                </div> -->
                <div class="custom-search justify-content-between">
                    <div class="d-flex">
                        <div class="input-dropdown">
                            <label>{{'schools.franchise' |translate}} : &nbsp;</label>
                            <p-dropdown [options]="franchiseList" placeholder="{{'placeholder.franchise'|translate}}" [showClear]="true"
                                [(ngModel)]="franchiseId"
                                styleClass="ui-column-filter" (onChange)="dt.filter($event.value,'franchise_id' ,'contains')"
                                optionLabel="label" filter="true"></p-dropdown>
                        </div>
                    </div>                  
                    <div class="d-flex">
                        <div class="input-search">
                            <input type="text" pInputText size="50" placeholder="{{'placeholder.search'|translate}}." class="mr-2"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                            <i class="fa fa-search"></i> 
                        </div>
                        <button *appIsGranted="'create'" pButton type="button" label="{{'schools.createSchool'|translate}}" class="btn-warning" (click)="AddNewSchool()"></button>
                    </div>                  
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.alias"
                        [ngClass]="[(columns.length-2===i) ? 'text-right' : '']">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 6" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index" [ngClass]="[(columns.length-2===i) ? 'text-right' : '']">
                        <span *ngIf="i!=6" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field]}}</span>
                        <span *ngIf="i == 6" class="d-flex action-color">
                            <a href="javascript:;" *appIsGranted="'edit'" ><span class="icon icon-edit-pencil mr-2" title="{{'title.edit'|translate}}" (click)="EditSchool(rowData)"></span></a>
                            <a href="javascript:;" *appIsGranted="'delete'" ><span class="icon icon-delete mr-2" title="{{'title.delete'|translate}}" (click) ="DeleteSchool(rowData)"></span></a>
                            <a href="javascript:;"><span class="icon icon-users" (click)="goToStudent(rowData)" title="{{'title.manageStudents'|translate}}"></span></a>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <ng-container *ngIf="isEmptyTable()">
                <tr>
                  <td [attr.colspan]="columns.length" class="text-center">
                    {{'general.noRecords'|translate}}
                  </td>
                </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </div>
</div>
<p-confirmDialog header="{{'general.deleteHeader' | translate}}" 
    acceptLabel="{{'general.acceptLabel' | translate}}"
    rejectLabel="{{'general.rejectLabel' | translate}}"
    message="{{'general.confirmDelete' | translate}}" 
    icon="pi pi-exclamation-triangle" class="confirm-dialog"  >
</p-confirmDialog>