<div class="main-content" >
    <!-- <div class="custom-form">
        <h4 class="custom-form-heading">Add Franchise</h4>
        <div class="custom-form-content">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Franchise Name <span>*</span></label>
                            <input pinputtext placeholder="Name" formControlName="name" name="name" type="text" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-4 col-12">
                        <label>Manager</label>
                        <input pinputtext type="text" placeholder="Manager" formControlName="manager" name="manager">
                    </div>  
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Email <span>*</span></label>
                            <input pinputtext placeholder="Email" formControlName="email" name="email" type="email" email
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-12">
                        <label>Phone <span>*</span></label>
                        <input type="text" placeholder="Phone" pKeyFilter="int" formControlName="phone" name="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone is required</div>
                        </div>
                    </div>
                  
                    <div class="col-md-4 col-12">
                        <label>Fee Structures</label>
                        <input pinputtext type="text" placeholder="Fee Structures" formControlName="fee_structures" name="fee_structures">
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Landmark</label>
                            <input pinputtext type="text" placeholder="Landmark" formControlName="landmark" name="landmark">
                        </div>
                    </div>    
                                    
                    <div class="col-md-12 col-12">
                        <div class="form-group">
                            <label>Address</label>
                            <textarea pInputTextarea placeholder="Address" formControlName="address"  name="address"></textarea>
                        </div>
                    </div>
                  
                    <div class="col-12 text-right">
                        <button pButton type="submit" icon="pi pi-check" label="Save" class="btn-warning mr-2"></button>
                        <button pButton type="button" icon="pi pi-times" label="Cancel" (click)="goToList()" class="btn-default"></button>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
    <div class="custom-form">
        <mat-horizontal-stepper>
            <mat-step label="Franchise Details">
                <form [formGroup]="stepOneForm" (ngSubmit)="stepOneFormSubmit()">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>Franchise Name <span>*</span></label>
                                <input pinputtext type="text" placeholder="Name" name="name" formControlName="name" required>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.name.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">Franchise Name is required
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>Franchise Code <span>*</span></label>
                                <input pinputtext type="text" placeholder="Code" name="code" formControlName="code" required>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.code.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">Franchise Code is required
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>Owner Name <span>*</span></label>
                                <input pinputtext type="text" placeholder="Contact Person" name="contact_person" formControlName="contact_person" required>
                                <div class="invalid-feedback"
                                    *ngIf="stepOneForm.controls.contact_person.invalid && submitted1!=null && !submitted1"
                                   [ngClass]=" 'error'">Owner Name is required
                               </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <label>Contact Number <span>*</span></label>
                            <input type="text" placeholder="Phone" pKeyFilter="int" formControlName="phone" name="phone" required>
                            <div class="invalid-feedback"
                                    *ngIf="stepOneForm.controls.phone.invalid && submitted1!=null && !submitted1"
                                [ngClass]=" 'error'">Contact number is required
                            </div> 
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>Contact Email <span>*</span></label>
                                <input pinputtext placeholder="Conatct Email" formControlName="email" name="email" type="email" required>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.email.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">Email is required
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>Website Address</label>
                                <input pinputtext placeholder="www.mindtronix.com" formControlName="website_address" name="website_address" type="text">
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea pInputTextarea placeholder="Address" formControlName="address" name="address"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>Landmark</label>
                                <input pinputtext type="text" placeholder="Landmark" formControlName="landmark" name="landmark">
                            </div>
                        </div>                        
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>Country <span>*</span></label>
                                <!-- <input pinputtext placeholder="Country" formControlName="country" name="country" type="text" required> -->
                                <p-dropdown [options]="country" formControlName="country" filter="true" placeholder="Select Country" itemSize="30"
                                name="state" optionLabel="label" required></p-dropdown>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.country.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">Country is required
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>State <span>*</span></label>
                                <p-dropdown [options]="state" formControlName="state" filter="true" placeholder="Select State" itemSize="30"
                                name="country" optionLabel="label" required></p-dropdown>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.state.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">State is required
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>City <span>*</span></label>
                                <!-- <input pinputtext placeholder="City" formControlName="city" name="city" type="text" required> -->
                                <p-dropdown [options]="city" formControlName="city" filter="true" placeholder="Select City" itemSize="30"
                                    name="state" optionLabel="label" required></p-dropdown>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.city.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">City is required
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-4 col-12">
                            <label>Pincode</label>
                            <input type="text" placeholder="Pincode" pKeyFilter="int" formControlName="pincode" name="pincode">
                        </div>                       
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>Status <span>*</span></label>
                                <p-dropdown [options]="status" formControlName="status" placeholder="Select Status" itemSize="30"
                                name="status" optionLabel="label" required></p-dropdown>
                                <div class="invalid-feedback"
                                    *ngIf="stepOneForm.controls.status.invalid && submitted1!=null && !submitted1"
                                   [ngClass]=" 'error'"> Status is required
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button matStepperNext class="btn-warning mr-2" type="submit">Next</button>
                        <button  class="btn-default" type="reset" (click)="goToList()">Cancel</button>
                    </div>
                </form>
            </mat-step>
            <mat-step label="Contact Information">
                <form [formGroup]="stepTwoForm" (ngSubmit)="stepTwoFormSubmit()">
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <div class="form-group">
                                <label>Contact Title <span>*</span></label>
                                <p-dropdown [options]="title" formControlName="contact_title" placeholder="Select Title" itemSize="30"
                                name="contact_title" optionLabel="label" required></p-dropdown>
                                <div class="invalid-feedback"
                                    *ngIf="stepTwoForm.controls.contact_title.invalid && submitted2!=null && !submitted2"
                                   [ngClass]=" 'error'"> Contact Title is required
                               </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">
                                <label>Name <span>*</span></label>
                                <input pinputtext placeholder="Contact Name" type="text" formControlName="contact_name" name="contact_name" required>
                                <div class="invalid-feedback"
                                    *ngIf="stepTwoForm.controls.contact_name.invalid && submitted2!=null && !submitted2"
                                   [ngClass]=" 'error'"> Contact Name is required
                               </div>
                            </div>
                        </div>
                       
                        <div class="col-md-2 col-12">
                            <label>Contact Number <span>*</span></label>
                            <input type="text" placeholder="Contact Number" pKeyFilter="int" formControlName="contact_phone"
                                name="contact_phone" required>                           
                            <div class="invalid-feedback"
                                *ngIf="stepTwoForm.controls.contact_phone.invalid && submitted2!=null && !submitted2"
                                [ngClass]=" 'error'"> Contact number is required
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">
                                <label>Contact Email <span>*</span></label>
                                <input pinputtext placeholder="Contact Email" type="email" formControlName="contact_email" name="contact_email" required>
                                <div class="invalid-feedback"
                                    *ngIf="stepTwoForm.controls.contact_email.invalid && submitted2!=null && !submitted2"
                                   [ngClass]=" 'error'"> Contact Email is required
                               </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-12 mt-4">
                            <button  class="btn-warning add-icon-btn" type="submit" title="Add">+</button>
                        </div>
                    </div>
                    <!-- <div class="text-center col-12">
                        <button  matStepperPrevious class="btn-default mr-2" type="reset">Back</button>
                        <button  matStepperNext class="btn-warning" type="button">Next</button>
                    </div> -->
                </form>
                <div class="custom-table mt-3">
                    <p-table #dt [columns]="contactsListCols" [value]="contactsList" [paginator]="false" [rows]="10">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="i != 4" [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns ; let i = index">
                                    <span *ngIf="i != 4" title="{{rowData[col.field]}}">{{rowData[col.field]}}</span>
                                    <span *ngIf="i == 4" class="text-right">
                                        <a href="javascript:;" (click)="deleteContact(i)">
                                            <span class="icon icon-delete" title="Delete"></span>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                              <td [attr.colspan]="columns.length" class="text-center">
                                 No records found
                              </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="text-center col-12 mt-4">
                    <button  matStepperPrevious class="btn-default mr-2" type="reset">Back</button>
                    <button  matStepperNext class="btn-warning" type="button">Next</button>
                </div>
            </mat-step>
            <mat-step label="Fee Management">
                <form [formGroup]="stepThreeForm" (ngSubmit)="stepThreeFormSubmit()">
                    <div class="row">
                        <div class="col-md-4 col-12 mb-5">
                            <label>Fee Structure <span>*</span></label>
                            <p-multiSelect [options]="FeeStructureList" formControlName="fee_structure" optionLabel="name" 
                                name="fee_structure" required></p-multiSelect>
                            <div class="invalid-feedback"
                                *ngIf="stepThreeForm.controls.fee_structure.invalid && submitted3!=null && !submitted3"
                                [ngClass]=" 'error'">Fee Structure is required</div>
                        </div>
                        <div class="col-md-1 col-12 mb-5 mt-4">
                            <button  class="btn-warning add-icon-btn" type="submit" title="Add">+</button>
                        </div>                        
                    </div>
                    <!-- <div class="text-center">
                        <button matStepperPrevious class="btn-default mr-2" type="reset">Back</button>
                        <button class="btn-warning" (click)="overAllSave()" type="button">Save</button>
                    </div> -->
                </form>
                <div class="custom-table mt-3">
                    <p-table #dt [columns]="FeeStructureCols" [value]="FeeList" [paginator]="false" [rows]="10">                       
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="i != 4" [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns ; let i = index">
                                    <span *ngIf="i != 4" title="{{rowData[col.field]}}">{{rowData[col.field]}}</span>
                                    <span *ngIf="i == 4" class="text-right">
                                        <a href="javascript:;" (click)="deleteFee(i)">
                                            <span class="icon icon-delete" title="Delete"></span>
                                        </a>
                                    </span>
                                </td>
                            </tr>                            
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                              <td [attr.colspan]="columns.length" class="text-center">
                                 No records found
                              </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="text-center mt-4">
                    <button matStepperPrevious class="btn-default mr-2" type="reset">Back</button>
                    <button class="btn-warning" (click)="overAllSave()" type="button">Save</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>