<div class="main-content" >
    <!-- <div class="custom-form">
        <h4 class="custom-form-heading">Add Franchise</h4>
        <div class="custom-form-content">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Franchise Name <span>*</span></label>
                            <input pinputtext placeholder="Name" formControlName="name" name="name" type="text" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-4 col-12">
                        <label>Manager</label>
                        <input pinputtext type="text" placeholder="Manager" formControlName="manager" name="manager">
                    </div>  
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Email <span>*</span></label>
                            <input pinputtext placeholder="Email" formControlName="email" name="email" type="email" email
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-12">
                        <label>Phone <span>*</span></label>
                        <input type="text" placeholder="Phone" pKeyFilter="pint" formControlName="phone" name="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone is required</div>
                        </div>
                    </div>
                  
                    <div class="col-md-4 col-12">
                        <label>Fee Structures</label>
                        <input pinputtext type="text" placeholder="Fee Structures" formControlName="fee_structures" name="fee_structures">
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Landmark</label>
                            <input pinputtext type="text" placeholder="Landmark" formControlName="landmark" name="landmark">
                        </div>
                    </div>    
                                    
                    <div class="col-md-12 col-12">
                        <div class="form-group">
                            <label>Address</label>
                            <textarea pInputTextarea placeholder="Address" formControlName="address"  name="address"></textarea>
                        </div>
                    </div>
                  
                    <div class="col-12 text-right">
                        <button pButton type="submit" icon="pi pi-check" label="Save" class="btn-warning mr-2"></button>
                        <button pButton type="button" icon="pi pi-times" label="Cancel" (click)="goToList()" class="btn-default"></button>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
    <div class="custom-form">
        <mat-horizontal-stepper>
            <mat-step label="{{'franchise.franchiseDetails' | translate}}">
                <form [formGroup]="stepOneForm" (ngSubmit)="stepOneFormSubmit()">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.franchiseName'|translate}} <span>*</span></label>
                                <input pinputtext type="text" placeholder="{{'franchise.add.franchiseName'|translate}}" name="name" formControlName="name" required>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.name.invalid && submitted1!=null && !submitted1"
                                    [ngClass]="'error'">{{'errorMessages.franchiseName'|translate}}
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.franchiseCode' |translate}} <span>*</span></label>
                                <input pInputText pKeyFilter="alphanum" type="text" placeholder="{{'franchise.add.franchiseCode' |translate}}" name="code" formControlName="code" required>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.code.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">{{'errorMessages.franchiseCode' |translate}}
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.ownerName' |translate}} <span>*</span></label>
                                <input pinputtext type="text" placeholder="{{'placeholder.contactPerson'|translate}}" name="contact_person" formControlName="contact_person" required>
                                <div class="invalid-feedback"
                                    *ngIf="stepOneForm.controls.contact_person.invalid && submitted1!=null && !submitted1"
                                   [ngClass]=" 'error'"> {{'errorMessages.franchiseOwner' |translate}}
                               </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <label>{{'franchise.add.contactNumber' |translate}} <span>*</span></label>
                            <input type="text" placeholder="{{'franchise.add.contactNumber' |translate}}" pKeyFilter="pint" formControlName="phone" name="phone" required>
                            <div class="invalid-feedback"
                                    *ngIf="stepOneForm.controls.phone.invalid && submitted1!=null && !submitted1"
                                [ngClass]=" 'error'">{{'errorMessages.contactNumber'|translate}}
                            </div> 
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.contactEmail' |translate}} <span>*</span></label>
                                <input pinputtext placeholder="{{'franchise.add.contactEmail' |translate}}" formControlName="email" name="email" type="email" required>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.email.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">{{'errorMessages.contactEmail'|translate}}
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.websiteAddress' |translate}}</label>
                                <input pinputtext placeholder="{{'placeholder.websiteAddress'|translate}}" formControlName="website_address" name="website_address" type="url">
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.website_address.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">{{'errorMessages.websiteAddress'|translate}}
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.address' |translate}}</label>
                                <textarea pInputTextarea placeholder="{{'placeholder.address'|translate}}" formControlName="address" name="address"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.landMark' |translate}}</label>
                                <input pinputtext type="text" placeholder="{{'franchise.add.landMark' |translate}}" formControlName="landmark" name="landmark">
                            </div>
                        </div>                        
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.country' |translate}} <span>*</span></label>
                                <!-- <input pinputtext placeholder="Country" formControlName="country" name="country" type="text" required> -->
                                <p-dropdown [options]="country" formControlName="country" filter="true" placeholder="{{'placeholder.country'|translate}}" itemSize="30"
                                name="state" optionLabel="label" required></p-dropdown>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.country.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">{{'dropdown.country'|translate}}
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.state' |translate}} <span>*</span></label>
                                <p-dropdown [options]="state" formControlName="state" filter="true" placeholder="{{'placeholder.state'|translate}}" itemSize="30"
                                name="country" optionLabel="label" required></p-dropdown>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.state.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">{{'dropdown.state'|translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.city' |translate}} <span>*</span></label>
                                <!-- <input pinputtext placeholder="City" formControlName="city" name="city" type="text" required> -->
                                <p-dropdown [options]="city" formControlName="city" filter="true" placeholder="{{'placeholder.city'|translate}}" itemSize="30"
                                    name="state" optionLabel="label" required></p-dropdown>
                                <div class="invalid-feedback"
                                     *ngIf="stepOneForm.controls.city.invalid && submitted1!=null && !submitted1"
                                    [ngClass]=" 'error'">{{'dropdown.city'|translate}}
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-4 col-12">
                            <label>{{'franchise.add.pincode' |translate}}</label>
                            <input type="text" placeholder="{{'franchise.add.pincode' |translate}}" pKeyFilter="pint" formControlName="pincode" name="pincode">
                        </div>                       
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.status' |translate}} <span>*</span></label>
                                <p-dropdown [options]="status" formControlName="status" placeholder="{{'placeholder.status'|translate}}" itemSize="30"
                                name="status" optionLabel="label" required></p-dropdown>
                                <div class="invalid-feedback"
                                    *ngIf="stepOneForm.controls.status.invalid && submitted1!=null && !submitted1"
                                   [ngClass]=" 'error'">{{'dropdown.status'|translate}}
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button matStepperNext class="btn-warning mr-2" type="submit">{{'buttons.next'|translate}}</button>
                        <button  class="btn-default" type="reset" (click)="goToList()">{{'buttons.cancel'|translate}}</button>
                    </div>
                </form>
            </mat-step>
            <mat-step label="{{'franchise.contactInfo' | translate}}">
                <form [formGroup]="stepTwoForm" (ngSubmit)="stepTwoFormSubmit()">
                    <div class="row">
                        <div class="col-md-2 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.contactTitle'|translate}} <span>*</span></label>
                                <p-dropdown [options]="title" formControlName="contact_title" placeholder="{{'placeholder.title'|translate}}" itemSize="30"
                                name="contact_title" optionLabel="label" required></p-dropdown>
                                <div class="invalid-feedback"
                                    *ngIf="stepTwoForm.controls.contact_title.invalid && submitted2!=null && !submitted2"
                                   [ngClass]=" 'error'"> {{'errorMessages.contactTitle'|translate}}
                               </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.name'|translate}} <span>*</span></label>
                                <input pinputtext placeholder="{{'placeholder.contactName'|translate}}" type="text" formControlName="contact_name" name="contact_name" required>
                                <div class="invalid-feedback"
                                    *ngIf="stepTwoForm.controls.contact_name.invalid && submitted2!=null && !submitted2"
                                   [ngClass]=" 'error'"> {{'errorMessages.contactName'|translate}}
                               </div>
                            </div>
                        </div>                       
                        <div class="col-md-3 col-12">
                            <label>{{'franchise.add.contactNumber'|translate}} <span>*</span></label>
                            <input type="text" placeholder="{{'franchise.add.contactNumber'|translate}}" pKeyFilter="pint" formControlName="contact_number"
                                name="contact_phone" required>                           
                            <div class="invalid-feedback"
                                *ngIf="stepTwoForm.controls.contact_number.invalid && submitted2!=null && !submitted2"
                                [ngClass]=" 'error'"> {{'errorMessages.contactNumber'|translate}}
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">
                                <label>{{'franchise.add.contactEmail'|translate}} <span>*</span></label>
                                <input pinputtext placeholder="{{'franchise.add.contactEmail'|translate}}" type="email" formControlName="contact_email" name="contact_email" required>
                                <div class="invalid-feedback"
                                    *ngIf="stepTwoForm.controls.contact_email.invalid && submitted2!=null && !submitted2"
                                   [ngClass]=" 'error'">{{'errorMessages.email'|translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-12 mt-4">
                            <button  class="btn-warning add-icon-btn" type="submit" title="{{'title.add'|translate}}">+</button>
                        </div>
                    </div>
                    <!-- <div class="text-center col-12">
                        <button  matStepperPrevious class="btn-default mr-2" type="reset">Back</button>
                        <button  matStepperNext class="btn-warning" type="button">Next</button>
                    </div> -->
                </form>
                <div class="custom-table mt-3">
                    <p-table #dt [columns]="contactsListCols" [value]="contactsList" [paginator]="false" [rows]="10">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="i != 4" [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns ; let i = index">
                                    <span *ngIf="i != 4" title="{{rowData[col.field]}}">{{rowData[col.field]}}</span>
                                    <span *ngIf="i == 4" class="text-right">
                                        <a href="javascript:;" (click)="deleteContact(rowData)">
                                            <span class="icon icon-delete" title="Delete"></span>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                              <td [attr.colspan]="columns.length" class="text-center">
                                 {{'general.noRecords'|translate}}
                              </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="text-center col-12 mt-4">
                    <button  matStepperPrevious class="btn-default mr-2" type="reset">{{'buttons.back'|translate}}</button>
                    <button  matStepperNext class="btn-warning" type="button">{{'buttons.next'|translate}}</button>
                </div>
            </mat-step>
            <mat-step label="{{'franchise.feeManagement' | translate}}">
                <form [formGroup]="stepThreeForm" (ngSubmit)="stepThreeFormSubmit()">
                    <div class="row">
                        <div class="col-md-4 col-12 mb-5">
                            <label>{{'franchise.add.feeStructure'|translate}}<span>*</span></label>
                            <p-multiSelect [options]="FeeStructureList" formControlName="fee_structure" optionLabel="name" (onChange)="getStructure()"
                                name="fee_structure" defaultLabel="{{'placeholder.feeStructure'|translate}}" required></p-multiSelect>
                            <div class="invalid-feedback"
                                *ngIf="stepThreeForm.controls.fee_structure.invalid && submitted3!=null && !submitted3"
                                [ngClass]=" 'error'">{{'errorMessages.feeStructure'|translate}}</div>
                        </div>                        
                        <div class="col-md-1 col-12 mb-5 mt-4">
                            <button  class="btn-warning add-icon-btn" type="submit" title="{{'title.add'|translate}}">+</button>
                        </div>
                        <div class="col-md-12 col-12" *ngIf="structure">
                            <label>Selected Fee Structures</label>
                            <p *ngFor="let col of structure"> Term : {{col.name}}, Amount : {{col.amount|number}} ,Tax : {{col.tax}}%, Discount : {{col.discount}} %</p>
                        </div>
                    </div>
                    <!-- <div class="text-center">
                        <button matStepperPrevious class="btn-default mr-2" type="reset">Back</button>
                        <button class="btn-warning" (click)="overAllSave()" type="button">Save</button>
                    </div> -->
                </form>
                <div class="custom-table mt-3">
                    <p-table #dt [columns]="FeeStructureCols" [value]="FeeList" [paginator]="false" [rows]="10">                       
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field" 
                                    [ngClass]="[(columns.length-3===i) ? 'text-right' : '',
                                            (columns.length-5===i) ? 'text-right' : '',
                                            (columns.length-2===i) ? 'text-right' : '']">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="i != 5" [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns ; let i = index" 
                                    [ngClass]="[(columns.length-3===i) ? 'custom-right-text' : '',
                                            (columns.length-5===i) ? 'custom-right-text' : '',
                                            (columns.length-2===i) ? 'custom-right-text' : '']">
                                    <span *ngIf="i != 5 && i != 1" title="{{rowData[col.field]}}">{{rowData[col.field]}}</span>
                                    <span *ngIf="i == 1" title="{{rowData[col.field]}}">{{rowData[col.field] | number}}</span>
                                    <span *ngIf="i == 5" class="text-right">
                                        <a href="javascript:;" (click)="deleteFee(rowData)">
                                            <span class="icon icon-delete" title="Delete"></span>
                                        </a>
                                    </span>
                                </td>
                            </tr>                            
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                              <td [attr.colspan]="columns.length" class="text-center">
                                {{'general.noRecords'|translate}}
                              </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="text-center mt-4">
                    <button matStepperPrevious class="btn-default mr-2" type="reset">{{'buttons.back'|translate}}</button>
                    <button class="btn-warning" (click)="overAllSave()" type="button">{{'buttons.save'|translate}}</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>