<div class="main-content">
    <div class="custom-form">
        <h4 class="custom-form-heading">{{'ticket.createTicket'|translate}}</h4>
        <div class="custom-form-content">
            <form [formGroup]="ticketForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>{{'ticket.add.ticketTitle'|translate}} <span>*</span></label>
                            <input pinputtext placeholder="{{'placeholder.titleTicket'|translate}}" formControlName="title" name="title" type="text" required>
                            <div class="invalid-feedback"
                                *ngIf="ticketForm.controls.title.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'"> {{'errorMessages.ticketTitle'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>{{'ticket.add.issueType'|translate}} <span>*</span></label>
                            <p-dropdown [options]="ticketIssue" placeholder="{{'placeholder.issueType'|translate}}" itemSize="30"
                                name="issue" optionLabel="label"  formControlName="issue_type" required></p-dropdown>
                                <div class="invalid-feedback"
                                *ngIf="ticketForm.controls.issue_type.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'errorMessages.issueType'|translate}}
                            </div>              
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>{{'ticket.add.issueDescription'|translate}} <span>*</span></label>
                            <textarea pInputTextarea placeholder="{{'placeholder.description'|translate}}" formControlName="description" name="description" required></textarea>
                            <div class="invalid-feedback"
                                *ngIf="ticketForm.controls.description.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'errorMessages.issueDescription'|translate}}
                            </div> 
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>{{'ticket.add.attachIssue'|translate}}</label>
                            <input type="file" name="files" multiple formControlName="files" accept=".jpg, .jpeg, .png, .mp4, .mov, .exs"
                                (change)="onFileSelect($event)" style="height: 45px;" />
                            <div class="invalid-feedback" [ngClass]=" 'error'">{{'errorMessages.allowedImageTypes'|translate}}</div>
                        </div>
                    </div> 
                    <div class="col-md-12 col-12 mt-10" *ngIf="fileArr.length>0">
                        <div class="form-group">
                            <label>{{'digitalContent.add.fileSelected'|translate}} </label>
                            <div *ngFor="let file of fileArr; let i = index" class="selected-file-list">
                                <span class="file-text" title="{{file.name}}">{{file.name}}</span>
                                <span class="file-size">{{file.sizeVal}}</span>
                                <span>
                                    <a href="javascript:;" (click)="deleteSelectedFile(i)" title="{{'title.delete'|translate}}">
                                        <span class="icon icon-delete wd-30"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-right custom-btn">
                        <button pButton type="submit" label="Save" class="btn-warning mr-2"></button>
                        <button pButton type="button" label="Cancel" (click)="goToList()" class="btn-default"></button>
                    </div>
                </div>               
            </form>
        </div>
    </div>
</div>
