    <!-- <div class="custom-view">
        <h4 class="custom-view-heading">Franchise Details</h4>
        <div class="custom-view-content">
          <div class="row">
              <div class="col-md-4 col-12">
                  <label>Franchise Name</label>
                  <p>Mindtronix Learning Centre</p>
              </div>
              <div class="col-md-4 col-12">
                <label>Email</label>
                <p>mindtronixlc@mindtronics.com</p>
            </div>
            <div class="col-md-4 col-12">
                <label>Contact Number</label>
                <p>7997666616</p>
            </div>
            <div class="col-md-4 col-12 mt-2">
                <label>Created On</label>
                <p>20-02-2020</p>
            </div>
            <div class="col-md-4 col-12 mt-2">
                <label>Status </label>
                <p>Active</p>
            </div>
            
          </div>
        </div>
    </div>
    <div class="custom-view">
        <h4 class="custom-view-heading">Schools Information</h4>
        <div class="custom-view-content">
          <div class="row">
              <div class="col-md-4 col-12">
                  <label>No.of Schools</label>
                  <p>100</p>
              </div>
              <div class="col-md-4 col-12">
                <label>No.of Students / Parent</label>
                <p>100</p>
            </div>
            <div class="col-md-4 col-12">
                <label>No.of Trainers</label>
                <p>20</p>
            </div>
          </div>
        </div>
    </div>
    <div class="custom-view">
        <h4 class="custom-view-heading">Fee Structure</h4>
        <div class="custom-view-content">
          <div class="row">
              <div class="col-md-4 col-12">
                  <label>--</label>
                  <p>--</p>
              </div>
              <div class="col-md-4 col-12">
                <label>--</label>
                <p>--</p>
            </div>
            <div class="col-md-4 col-12">
                <label>--</label>
                <p>--</p>
            </div>
            <div class="col-md-4 col-12 mt-2">
                <label>--</label>
                <p>--</p>
            </div>
            <div class="col-md-4 col-12 mt-2">
                <label>-- </label>
                <p>--</p>
            </div>
            
          </div>
        </div>
    </div>
    <div class="custom-view">
        <h4 class="custom-view-heading">Revenue</h4>
        <div class="custom-view-content">
          <div class="row">
              <div class="col-md-4 col-12">
                  <label>--</label>
                  <p>--</p>
              </div>
              <div class="col-md-4 col-12">
                <label>--</label>
                <p>--</p>
            </div>
            <div class="col-md-4 col-12">
                <label>--</label>
                <p>--</p>
            </div>
            <div class="col-md-4 col-12 mt-2">
                <label>--</label>
                <p>--</p>
            </div>
            <div class="col-md-4 col-12 mt-2">
                <label>-- </label>
                <p>--</p>
            </div>
            
          </div>
        </div>
    </div> -->
<div class="main-content custom-maincontent-top">
    <div class="row view-page">
        <div class="col-md-9 col-12">
            <div class="custom-view-list student-view-list">
                <div class="custom-view-div franchise-name">
                    <div>{{'ticket.view.ticketid'|translate}}
                        <span>{{ticketObj.issue_id}} <span class="normal-text"> ({{ticketObj.issue_type}}) </span></span>
                    </div>
                </div>
                <div class="custom-view-div">
                    <div class="schools-text">{{'ticket.view.createdBy'|translate}}
                        <span>{{ticketObj.created_by}}</span>
                    </div>
                </div>   
                <div class="custom-view-div">
                    <div class="schools-text">{{'ticket.view.createdDate'|translate}}
                        <span>{{ticketObj.created_date|date:'dd MMM,yyyy'}}</span>
                    </div>
                </div>
                <div class="custom-view-div">
                    <div class="schools-text">{{'ticket.view.lastUpdated'|translate}}
                        <span>{{ticketObj.last_updated|date:'dd MMM,yyyy'}}</span>
                    </div>
                </div>
                <div class="custom-view-div">
                    <div class="schools-text">{{'ticket.view.lastUpdatedBy'|translate}}
                        <span>{{ticketObj.last_updated_by}}</span>
                    </div>
                </div>
                <div class="custom-view-div status-div">
                    <div class="trainers-text">
                        <div class="status-edit">
                            {{'ticket.view.ticketStatus'|translate}}
                        </div>
                        <span [ngClass]="{'status-greentext': ticketObj.status=='Closed',
                                            'status-redtext': ticketObj.status!='Closed'}">
                            {{ticketObj.status}}
                        </span>
                        <!-- <span class="status-redtext">{{ticketObj.status}}</span> -->
                    </div>
                </div>
            </div>
            <div class="custom-view ticket-view-content">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <label>{{'ticket.view.issueTitle'|translate}}</label>
                        <p>{{ticketObj.title}}</p>
                    </div>
                    <div class="col-md-8 col-12 mb-3">
                        <label>{{'ticket.add.issueDescription'|translate}}</label>
                        <p> {{ticketObj.description}}</p>
                    </div>
                    <div class="col-12">
                        <label>{{'ticket.view.attachments'|translate}}</label>
                        <div class="attachment-img">
                            <div *ngFor="let row of documents" (click)="previewAttachment(row)">
                                <img src="{{row.document_url}}" alt="">
                            </div>
                        </div>
                        <div *ngIf="documents==''" class="f11">
                            {{'general.noAttachments'|translate}}
                        </div> 
                    </div>
                </div>
                <div class="row ticket-history">
                    <h4 class="ticket-heading">{{'ticket.view.ticketHistory'|translate}}</h4>
                    <div class="col-12">
                        <ul class="history-view" *ngFor="let row of chatHistory">
                           <li class="lastseen-date"><div>{{row[0].date}}</div></li>
                            <ul class="history-list">
                                <li  *ngFor="let col of row">
                                    <div>{{col.time}} By <span class="name-highlight">{{col.created_by}}</span>
                                        <span class="pl-2" 
                                            [ngClass]="{'green-text': col.status=='Closed',
                                                        'red-text': col.status!='Closed'}">
                                            {{col.status}}
                                        </span>
                                    </div>
                                    <div>{{col.message}}</div>
                                    <div class="history-attachment-img">
                                        <div *ngFor="let file of col.documents" (click)="previewAttachment(file)">
                                            <img src="{{file.document_url}}" alt="">
                                        </div>                                       
                                    </div>
                                </li>
                            </ul>
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 pl-0">
            <div class="custom-static-view custom-minheight text-center">
                <button pButton type="submit" class="btn-warning" (click)="updateTicketModal(true)" label="Update Ticket"></button>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Update Status" [(visible)]="viewModal" [modal]="true"  [draggable]="false" [resizable]="false"
     [style]="{width: '45vw'}" [baseZIndex]="10000" appendTo="body">
    <form [formGroup]="updateForm" (ngSubmit)="updateTicket()">
        <div class="row custom-form m-0">
            <div class="col-md-4 col-12">
                <div class="form-group">
                    <label>Status <span>*</span></label>
                    <p-dropdown [options]="status" placeholder="Select Status" itemSize="30" formControlName="status"
                        name="status" optionLabel="label" required></p-dropdown>
                    <div class="invalid-feedback"
                        *ngIf="updateForm.controls.status.invalid && submitted!=null && !submitted"
                        [ngClass]="'error'">{{'errorMessages.status'|translate}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Comments <span>*</span></label>
                    <textarea pInputTextarea placeholder="Comment" formControlName="comments" name="description" required></textarea>
                    <div class="invalid-feedback"
                        *ngIf="updateForm.controls.comments.invalid && submitted!=null && !submitted"
                        [ngClass]="'error'">{{'errorMessages.comments'|translate}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Attach issue screenshot</label>
                    <input type="file" name="files" multiple formControlName="files" accept=".jpg, .jpeg, .png, .exs"
                        (change)="onFileSelect($event)" style="height: 45px;" />
                    <div class="invalid-feedback"
                        [ngClass]=" 'error'">{{'errorMessages.allowedImageTypes'|translate}}
                    </div>
                    <!-- <mat-file-upload
                        [labelText]="''"
                        [selectButtonText]="'Choose File(s)'"
                        [selectFilesButtonType]="file"
                        [allowMultipleFiles]="true"
                        [showUploadButton]="false"
                        [acceptedTypes]="'.png, .jpg, .jpeg'"
                        (uploadClicked)="onUploadClicked($event)"
                        (selectedFilesChanged)="onSelectedFilesChanged($event)"
                        >
                    </mat-file-upload> -->
                </div>
            </div>
            <div class="col-md-12 col-12 mt-10" *ngIf="fileArr.length>0">
                <div class="form-group">
                    <label>{{'digitalContent.add.fileSelected'|translate}} </label>
                    <div *ngFor="let file of fileArr; let i = index" class="selected-file-list">
                        <span class="file-text" title="{{file.name}}">{{file.name}}</span>
                        <span class="file-size">{{file.sizeVal}}</span>
                        <span>
                            <a href="javascript:;" (click)="deleteSelectedFile(i)" title="{{'title.delete'|translate}}">
                                <span class="icon icon-delete wd-30"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>      
        <div class="col-12 p-0 text-right mb-2">
            <button type="submit" pButton class="btn-warning mr-2" label="Update"></button>
            <button type="button" pButton class="btn-default" label="Cancel" (click)="updateTicketModal(false)"></button>
        </div>       
    </form>
</p-dialog>
<!-- Ticket Attachements popup-->
<p-dialog header="View Attachement" [modal]="true" [draggable]="false" [resizable]="false"  appendTo="body" 
    [(visible)]="previewFile" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <div style="font-size:16px;text-align:center;padding:20px">
        <div class="row m-0">
            <div class="col-12" style="text-align:center">
                <img src="{{preview}}" height="300" style="width:40%;height:100%;">
           </div>
       </div>
    </div>
</p-dialog> 