<div class="main-content">
    <div class="custom-table masters-list">
        <p-table #dt [columns]="cols" [value]="MasterChilds" [paginator]="true" [rows]="10" [loading]="loading">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-md-4 col-12 text-left input-dropdown">
                        <p-dropdown [options]="Masterslist" [filter]="true" [(ngModel)]="selectedMaster" (onChange)="ChangeMasterParent($event)" optionLabel="master_name"></p-dropdown >
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="custom-search">
                            <div class="input-search">
                                <input type="text" pInputText size="50" placeholder="Search..." class="mr-2"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                                <i class="fa fa-search"></i> 
                            </div>
                            <button pButton type="button" label="+" class="btn-warning" (click)="showBasicDialog({},true)"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 2" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index">
                        <span *ngIf="i!=2" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field]}}</span>
                        <span *ngIf="i == 2" class="d-flex action-color">
                            <a href="javascript:;" ><span class="icon icon-edit-pencil mr-2" (click)="showBasicDialog(rowData,false)" title="Edit"></span></a>
                            <a href="javascript:;" ><span class="icon icon-delete" title="Delete" (click)="deleteMasterChild(rowData)"></span></a>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<!-- <button type="button" (click)="showBasicDialog()" pButton icon="pi pi-external-link" label="Show"></button> -->
<p-dialog header="Add/Edit Master" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    
    <!-- <form [formGroup]="stepOneForm" (ngSubmit)="stepOneFormSubmit()"></form> -->
        <div class="row custom-form">
            <div class="col-md-4 col-12">
                <div class="form-group">
                    <label>{{name}} Name <span>*</span></label>
                    <input  placeholder="Name"  name="name" type="text" value="{{masterChildName}}" (input)="onChangeMaster($event.target.value)">
                    <div *ngIf="submitted1 && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="form-group input-search">
                    <label>{{description}} Description&nbsp; <span>*</span></label>
                    <input  placeholder="Description"  name="description" type="text" value="{{masterChildDescription}}" (input)="onChangeMasterDesc($event.target.value)">
                    <div *ngIf="submitted1 && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Name is required</div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </form> -->
<p-footer>
    <button type="button" pButton class="btn-warning" (click)="postMaster(Add)" label="Yes"></button>
    <button type="button" pButton class="btn-default" (click)="displayBasic=false" label="No"></button>
</p-footer>
</p-dialog>
<!-- <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog> -->