<div class="main-content">
    <div class="custom-table masters-list">
        <p-table #dt [columns]="cols" [value]="MasterChilds" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <!-- <div class="row">
                    <div class="col-md-4 col-12 text-left input-dropdown">
                        <p-dropdown [options]="Masterslist" [filter]="true" [(ngModel)]="selectedMaster" (onChange)="ChangeMasterParent($event)" optionLabel="master_name"></p-dropdown >
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="custom-search">
                            <div class="input-search">
                                <input type="text" pInputText size="50" placeholder="{{'general.search' | translate}}" class="mr-2"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                                <i class="fa fa-search"></i> 
                            </div>
                            <button pButton type="button" label="+" class="btn-warning" (click)="showBasicDialog({},true)"></button>
                        </div>
                    </div>
                </div> -->
                <div class="custom-search justify-content-between">
                    <div class="d-flex">
                        <div class="input-dropdown">
                            <label>{{'masters.masterType' |translate}} : &nbsp;</label>
                            <p-dropdown [options]="Masterslist" [filter]="true" [(ngModel)]="selectedMaster" (onChange)="ChangeMasterParent($event)" optionLabel="master_name"></p-dropdown >
                        </div>
                    </div>                  
                    <div class="d-flex">
                        <div class="input-search">
                            <input type="text" pInputText size="50" placeholder="{{'general.search' | translate}}" class="mr-2"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                            <!-- <i class="fa fa-search"></i>  -->
                        </div>
                        <button *appIsGranted="'create'" pButton type="button" label="{{'masters.create' | translate}}" class="btn-warning" (click)="showBasicDialog({},true)"></button>
                    </div>                  
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 2" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index">
                        <span *ngIf="i!=2" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field]}}</span>
                        <span *ngIf="i == 2" class="d-flex action-color">
                            <a href="javascript:;" *appIsGranted="'edit'"><span class="icon icon-edit-pencil mr-2" (click)="showBasicDialog(rowData,false)" title="{{'title.edit'|translate}}"></span></a>
                            <a href="javascript:;"  *appIsGranted="'delete'"><span class="icon icon-delete" title="{{'title.delete'|translate}}" (click)="deleteMasterChild(rowData)"></span></a>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <ng-container *ngIf="isEmptyTable()">
                <tr>
                  <td [attr.colspan]="columns.length" class="text-center">
                    No records found
                  </td>
                </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </div>
</div>
<p-dialog header="{{dialogHeader | translate}}" [(visible)]="displayBasic" 
            [modal]="true" 
            [style]="{width: '50vw'}" 
            [baseZIndex]="10000" 
            [draggable]="false" 
            [resizable]="false"  
             >
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row custom-form">
            <div class="col-md-4 col-12">
                <div class="form-group">
                    <label>{{name}} Name <span>*</span></label>
                    <input pinputtext placeholder="Name"  name="name" type="text" formControlName="name">
                    <div class="invalid-feedback"
                        *ngIf="form.controls.name.invalid && submitted!=null && !submitted"
                        [ngClass]=" 'error'">Name is required
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-12">
                <div class="form-group input-search">
                    <label>{{description}} Description</label>
                    <textarea pInputTextarea placeholder="Description" formControlName="description"  name="description"></textarea>
                    <!-- <input  placeholder="Description"  name="description" type="text" formControlName="description"> -->
                </div>
            </div>
        </div>
        <div class="text-right col-12 mb-2">
            <button pButton class="btn-warning mr-2" type="submit"  *ngIf="displayButton" label="{{'buttons.save' |translate}}" ></button>
            <button pButton class="btn-warning mr-2" type="submit" *ngIf="!displayButton" label="{{'buttons.update' |translate}}"></button>
            <button pButton class="btn-default" type="button" label="{{'buttons.cancel' |translate}}" (click)="close()"></button>
        </div>
    </form>
</p-dialog>
<p-confirmDialog header="{{'general.deleteHeader' | translate}}" 
    acceptLabel="{{'general.acceptLabel' | translate}}"
    rejectLabel="{{'general.rejectLabel' | translate}}"
    message="{{'general.confirmDelete' | translate}}" 
    icon="pi pi-exclamation-triangle" class="confirm-dialog"  >
</p-confirmDialog>