<div class="main-content">
    <div class="custom-table custom-student-list">
        <p-table #dt [columns]="cols" [value]="studentsList" [lazy]="true" [totalRecords]="totalRecords"
           [paginator]="true" [(first)]="first" (onLazyLoad)="loadStudentsLazy($event)" [rows]="10">
            <ng-template pTemplate="caption">
                <div class="custom-search justify-content-between">
                    <div class="d-flex student-dropdown">
                        <div class="input-dropdown d-flex align-items-center">
                            <label>{{'student.school' |translate}} : &nbsp;</label>
                            <p-dropdown [options]="schools" placeholder="{{'placeholder.schoolName'|translate}}" [showClear]="true"
                                [(ngModel)]="schoolFilter"
                                styleClass="ui-column-filter" (onChange)="dt.filter($event.value,'school_id' ,'contains')"
                                optionLabel="label" filter="true"></p-dropdown>
                        </div>
                        <div class="input-dropdown ml-2 d-flex align-items-center">
                            <label>{{'student.franchise' |translate}} : &nbsp;</label>
                            <p-dropdown [options]="franchise" placeholder="{{'placeholder.franchise'|translate}}" [showClear]="true"
                                [(ngModel)]="franchiseFilter"
                                styleClass="ui-column-filter" (onChange)="dt.filter($event.value,'franchise_id', 'equals')"
                                optionLabel="label"  filter="true"></p-dropdown>          
                        </div>
                    </div>                  
                    <div class="d-flex">
                        <div class="input-search">
                            <input type="text" pInputText size="50" placeholder="{{'student.search'|translate}}" class="mr-2"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                            <!-- <i class="fa fa-search"></i>  -->
                        </div>
                        <button *appIsGranted="'create'" pButton type="button" label="{{'student.createStudent'|translate}}" class="btn-warning" (click)="AddNewStudent($event)"></button>
                    </div>                  
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.alias">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 8" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index">
                        <span *ngIf="i != 8 && i != 7 && i != 6" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field]}}</span>
                        <span *ngIf="i != 8 && i != 7 && i == 6" title="{{rowData[col.field] | date: 'dd MMM yyyy hh:mm a'}}" x-ms-format-detection="none">{{rowData[col.field] | date: 'dd MMM yyyy hh:mm a'}}</span>
                        <span *ngIf="i == 7">
                            <span [ngClass]="[(rowData[col.field]==='Active') ? 'bg-brown' : '',
                                                (rowData[col.field]==='Inactive')? 'bg-gold' : '']"
                                class='list-status'>{{rowData[col.field]}}</span>
                        </span>
                        <span *ngIf="i == 8" class="d-flex action-color">
                            <a href="javascript:;" (click)="viewStudent(rowData)"><span class="icon icon-eye-2 mr-2" title="View" *appIsGranted="'view'"></span> </a> 
                            <a href="javascript:;" ><span class="icon icon-edit-pencil mr-2" title="Edit" (click)="EditStudent(rowData)" *appIsGranted="'edit'"></span></a>
                            <!-- <a href="javascript:;"><span class="icon icon-delete" title="Delete" (click)="DeleteStudent(rowData)"></span></a> -->
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <ng-container *ngIf="isEmptyTable()">
                <tr>
                  <td [attr.colspan]="columns.length" class="text-center">
                   {{'general.noRecords'|translate}}
                  </td>
                </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </div>
</div>
<p-confirmDialog header="{{'general.deleteHeader' | translate}}" 
                acceptLabel="{{'general.acceptLabel' | translate}}"
                rejectLabel="{{'general.rejectLabel' | translate}}"
                message="{{'general.confirmDelete' | translate}}" 
                icon="pi pi-exclamation-triangle" class="confirm-dialog"  >
</p-confirmDialog>