<div class="main-content">
    <div class="custom-table franchise-list">
        <p-table #dt [columns]="cols" [value]="list" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <!-- <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Global Filter" class="mr-2"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                    <button pButton type="button" label="Add" class="btn-warning" (click)="AddNewFranchise($event)"></button>
                </div> -->
                <div class="custom-search">
                    <div class="input-search">
                        <input type="text" pInputText size="50" placeholder="Search..." class="mr-2"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        <i class="fa fa-search"></i> 
                    </div>
                    <button pButton type="button" label="Create Franchise" class="btn-warning" (click)="AddNewFranchise($event)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 6" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index"  (click)="i != 6 && viewFranchise(rowData.id)">
                        
                        <span *ngIf="i != 6 && i != 5 && i!= 4" title="{{rowData[col.field]}}">{{rowData[col.field]}}</span>
                        
                        <span *ngIf="i != 6 && i != 5 && i== 4" title="{{rowData[col.field] }}">{{rowData[col.field] }}</span>
                        
                        <span *ngIf="i == 6" class="d-flex action-color">
                            <a href="javascript:;" (click)="editFranchise(rowData.id)"><span class="icon icon-edit-pencil mr-2" title="Edit"></span></a>
                            <a href="javascript:;"><span class="icon icon-admin-2 mr-2" title="Manage Users"></span> </a>
                            <a href="javascript:;"><span class="icon icon-address" title="Manage Schools"></span></a>
                        </span>

                        <span *ngIf="i == 5">
                            <span [ngClass]="[(rowData[col.field]==='Active') ? 'bg-brown' : '',
                                              (rowData[col.field]==='Inactive')? 'bg-gold' : '']"
                                class='list-status'>{{rowData[col.field]}}</span>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>