<div class="main-content">
    <div class="custom-table franchise-list">
        <!-- <p-table #dt [columns]="cols" [value]="list" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">                
                <div class="custom-search">
                    <div class="input-search">
                        <input type="text" pInputText size="50" placeholder="{{'general.search' | translate}}" class="mr-2"
                            (input)="customSearch($event.target.value)" style="width:auto;">
                        <i class="fa fa-search"></i> 
                    </div>
                    <button pButton type="button" label="Create Franchise" class="btn-warning" (click)="AddNewFranchise($event)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field" (click)="i != 7 && customSort(col.field)">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 7" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index"  (click)="i != 6 && i != 7 && viewFranchise(rowData.id)">
                        
                        <span *ngIf="i != 6 && i != 7" title="{{rowData[col.field]}}">{{rowData[col.field]}}</span>  
                        <span *ngIf="i == 6">
                            <span [ngClass]="[(rowData[col.field]==='Active') ? 'bg-brown' : '',
                                              (rowData[col.field]==='Inactive')? 'bg-gold' : '']"
                                class='list-status'>{{rowData[col.field]}}</span>
                        </span>
                        <span *ngIf="i == 7" class="d-flex action-color">
                            <a href="javascript:;" (click)="editFranchise(rowData.id)"><span class="icon icon-edit-pencil mr-2" title="Edit"></span></a>
                            <a href="javascript:;" (click)="GoToUsers($event)"><span class="icon icon-admin-2 mr-2" title="Manage Users"></span> </a>
                            <a href="javascript:;" (click)="GoToSchools($event)"><span class="icon icon-address" title="Manage Schools"></span></a>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table> -->
        <p-table #dt [columns]="cols" [value]="list" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [paginator]="true" 
            [rows]="10" [totalRecords]="totalRecords">
            <ng-template pTemplate="caption">
                <div class="custom-search">
                    <div class="input-search">
                        <input type="text" pInputText size="50" placeholder="{{'franchise.search'|translate}}" 
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            class="mr-2" style="width:auto;">
                        <i class="fa fa-search"></i> 
                    </div>
                    <button pButton type="button" label="{{'franchise.create' | translate}}" class="btn-warning" (click)="AddNewFranchise($event)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.alias">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 7" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index"  (click)="i != 6 && i != 7 && viewFranchise(rowData)">
                        <span *ngIf="i!=6 && i!=7 && i!=5" title="{{rowData[col.field]}}" x-ms-format-detection="none"> {{rowData[col.field]}}</span>
                        <span *ngIf="i!=6 && i!=7 && i==5" title="{{rowData[col.field] | date: 'dd MMM yyyy'}}" x-ms-format-detection="none">{{rowData[col.field] | date: 'dd MMM yyyy'}}</span>
                        <span *ngIf="i == 6">
                            <span [ngClass]="[(rowData[col.field]==='Active') ? 'bg-brown' : '',
                                              (rowData[col.field]==='Inactive')? 'bg-gold' : '']"
                                class='list-status'>{{rowData[col.field]}}</span>
                        </span>
                        <span class="d-flex action-color" *ngIf="i == 7 && isEnabled(rowData)">
                            <a href="javascript:;" (click)="goToUsers(rowData)">
                                <span class="icon icon-admin-2 mr-2" title="{{'title.manageUsers'|translate}}"></span>
                            </a>
                            <a href="javascript:;" (click)="goToSchools(rowData)">
                                <span class="icon icon-address" title="{{'title.manageSchoools'|translate}}"></span>
                            </a>
                        </span>
                        <span class="d-flex action-color" *ngIf="i == 7 && !isEnabled(rowData)">---</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <ng-container *ngIf="isEmptyTable()">
                <tr>
                  <td [attr.colspan]="columns.length" class="text-center">
                    {{'general.noRecords'|translate}}
                  </td>
                </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </div>
</div>