<div class="main-content">
    <div class="custom-table fee-list">
        <p-table #dt [columns]="cols" [value]="list" [lazy]="true" (onLazyLoad)="loadFeeLazy($event)" [paginator]="true" 
            [rows]="10" [totalRecords]="totalRecords" [(first)]="first">
            <ng-template pTemplate="caption">
                <div class="custom-search">
                    <div class="input-search">
                        <input type="text" pInputText size="50" placeholder="{{'fee.search'|translate}}" class="mr-2"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        <i class="fa fa-search"></i> 
                    </div>
                    <button *appIsGranted="'create'" pButton type="button" label="{{'fee.createfee'|translate}}" class="btn-warning" (click)="addNewFee($event)"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.alias"
                    [ngClass]="[(columns.length-3===i) ? 'text-right' : '',
                                (columns.length-4===i) ? 'text-right' : '',
                                (columns.length-6===i) ? 'text-right' : '']">
                        {{col.header}}
                        <p-sortIcon *ngIf="i != 6" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns ; let i = index"
                        [ngClass]="[(columns.length-3===i) ? 'custom-right-text' : '',
                        (columns.length-6===i) ? 'custom-right-text' : '',
                        (columns.length-4===i) ? 'custom-right-text':'']">
                        <span *ngIf="i == 0 || i == 2" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field]}}</span>
                        <span *ngIf="i == 1" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field] | number}}</span>
                        <span *ngIf="i == 3" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field] | number}}</span>
                        <span *ngIf="i == 4" title="{{rowData[col.field]}}" x-ms-format-detection="none">{{rowData[col.field] | number}}</span>
                        <span *ngIf="i == 5">
                            <span [ngClass]="[(rowData[col.field]==='Active') ? 'bg-brown' : '',
                                              (rowData[col.field]==='Inactive')? 'bg-gold' : '']"
                                class='list-status'>{{rowData[col.field]}}</span>
                        </span>
                        <span *ngIf="i == 6"  class="d-flex action-color">
                            <a *appIsGranted="'edit'" href="javascript:;" (click)="updateFee(rowData)" title="{{'title.edit'|translate}}">
                                <span class="icon icon-edit-pencil wd-30"></span>
                            </a>
                            <!-- <a href="javascript:;" (click)="deleteFee(rowData)" title="Delete">
                                <span class="icon icon-delete wd-30"></span>
                            </a> -->
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <ng-container *ngIf="isEmptyTable()">
                <tr>
                  <td [attr.colspan]="columns.length" class="text-center">
                    {{'general.noRecords'|translate}}
                  </td>
                </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </div>
</div>