<div class="main-content">
    <div class="custom-form student-form">
        <h4 class="custom-form-heading" *ngIf="isUpdate">{{'student.updateStudent' |translate}}</h4>
        <h4 class="custom-form-heading" *ngIf="!isUpdate">{{'student.createStudent' |translate}}</h4>
        <div class="custom-form-content">
            <form [formGroup]="studentForm" (ngSubmit)="submit()" autocomplete="off">
                <div class="row">
                    <div class="col-12">
                        <h4>{{'student.studentInfo'|translate}}</h4>
                    </div>
                    <div class="col-12">
                        <div class="row form-bg">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.name'|translate}} <span>*</span></label>
                                    <input pinputtext placeholder="{{'placeholder.studentName'|translate}}"
                                        formControlName="student_name" name="student_name" type="text" required>
                                    <div class="invalid-feedback"
                                        *ngIf="studentForm.controls.student_name.invalid && submitted!=null && !submitted"
                                        [ngClass]=" 'error'">{{'errorMessages.userName'|translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.dateOfBirth'|translate}} </label>
                                    <p-calendar formControlName="date_of_birth" dateFormat="dd/mm/yy"
                                        name="date_of_birth" [showIcon]="true" [maxDate]="maxDate"
                                        [monthNavigator]="true" [yearNavigator]="true" [yearRange]="('1990:2060')"></p-calendar>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.nationality'|translate}} <span>*</span></label>
                                    <p-dropdown [options]="nationality" formControlName="nationality" filter="true"
                                        placeholder="{{'placeholder.nationality'|translate}}" itemSize="30"
                                        optionLabel="label" required name="nationality"></p-dropdown>
                                    <div class="invalid-feedback"
                                        *ngIf="studentForm.controls.nationality.invalid && submitted!=null && !submitted "
                                        [ngClass]=" 'error'">{{'dropdown.nationality'|translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.placeOfBirth'|translate}}</label>
                                    <input pinputtext placeholder="Place of Birth" formControlName="place_of_birth"
                                        name="{{'placeholder.placeOfBirth'|translate}}" type="text">
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.motherTongue'|translate}}</label>
                                    <p-dropdown [options]="mothertongue" [showClear]="true"
                                        formControlName="mother_tongue" filter="true"
                                        placeholder="{{'placeholder.motherTongue'|translate}}" itemSize="30"
                                        optionLabel="label" name="mother_tongue"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.leadSource'|translate}} <span>*</span> </label>
                                    <input pinputtext type="text" placeholder="{{'student.add.leadSource'|translate}}"
                                    formControlName="lead_source" name="lead_source" required>
                                    <div class="invalid-feedback"
                                        *ngIf="studentForm.controls.lead_source.invalid && submitted!=null && !submitted "
                                        [ngClass]=" 'error'">{{'errorMessages.leadSourceReq'|translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.address'|translate}}</label>
                                    <textarea pInputTextarea placeholder="{{'placeholder.address'|translate}}"
                                        formControlName="address" name="address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-12">
                        <h4>{{'student.parentInfo'|translate}}</h4>
                    </div>
                    <div class="col-12">
                        <div class="row form-bg">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.parentName'|translate}}</label>
                                    <input pinputtext placeholder="{{'placeholder.parentGuardianName'|translate}}"
                                        formControlName="parent_name" name="parent_name" type="text">
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.studentContactEmail'|translate}}</label>
                                    <input pinputtext placeholder="{{'placeholder.parentEmail'|translate}}"
                                        autocomplete="off" id="studentContactEmail" 
                                        formControlName="email" name="studentContactEmail" type="email" >
                                </div>
                            </div>
                            <div class="col-md-4 col-12" *ngIf="!isUpdate">
                                <div class="form-group">
                                    <label> {{'student.add.password'|translate}}</label>
                                    <input pPassword placeholder="{{'placeholder.password'|translate}}" id="StudentPassword" autocomplete="new-password"
                                        formControlName="password" name="StudentPassword" type="password" >
                                    <div class="invalid-feedback"
                                        *ngIf="studentForm.controls.password.invalid && submitted!=null && !submitted "
                                        [ngClass]=" 'error'">{{'errorMessages.password'|translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12 mt-3" *ngIf="!isUpdate">
                                <div class="form-group">
                                    <label>{{'student.add.confirmPassword'|translate}}</label>
                                    <input pPassword placeholder="{{'placeholder.confirmPassword'|translate}}"
                                        formControlName="cpassword" name="cpassword" type="password">
                                    <div class="invalid-feedback"
                                        *ngIf="studentForm.controls.cpassword.invalid && submitted!=null && !submitted "
                                        [ngClass]=" 'error'">{{'errorMessages.confirmPassword'|translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12" [ngClass]="[isUpdate ? '' : 'mt-3']">
                                <label> {{'student.add.studentHomePhone'|translate}}</label>
                                <input type="text" placeholder="{{'placeholder.homePhone'|translate}}" pKeyFilter="pint"
                                    formControlName="phone_no" name="phone_no">
                                <div class="invalid-feedback"
                                    *ngIf="studentForm.controls.phone_no.invalid && submitted!=null && !submitted "
                                    [ngClass]=" 'error'">{{'errorMessages.homePhone'|translate}}
                                </div>
                            </div>
                            <div class="col-md-4 col-12" [ngClass]="[isUpdate ? '' : 'mt-3']">
                                <label>{{'student.add.studentMobilePhone1'|translate}}</label>
                                <input type="text" placeholder="{{'placeholder.mobilePhone1'|translate}}"
                                    pKeyFilter="pint" formControlName="mobile_phone1" name="mobile_phone1">
                                <div class="invalid-feedback"
                                    *ngIf="studentForm.controls.mobile_phone1.invalid && submitted!=null && !submitted "
                                    [ngClass]=" 'error'">{{'errorMessages.mobilePhone1'|translate}}
                                </div>
                            </div>
                            <div class="col-md-4 col-12" [ngClass]="[isUpdate ? '' : 'mt-3']">
                                <div class="form-group">
                                    <label>{{'student.add.studentMobilePhone2'|translate}}</label>
                                    <input type="text" placeholder="{{'placeholder.mobilePhone2'|translate}}"
                                        pKeyFilter="pint" formControlName="mobile_phone2" name="mobile_phone2">
                                    <div class="invalid-feedback"
                                        *ngIf="studentForm.controls.mobile_phone2.invalid && submitted!=null && !submitted "
                                        [ngClass]=" 'error'">{{'errorMessages.mobilePhone2'|translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12" [ngClass]="[isUpdate ? '' : 'mt-3']">
                                <div class="form-group">
                                    <label>{{'student.add.relation'|translate}}</label>
                                    <p-dropdown [options]="relation" [showClear]="true" formControlName="relation"
                                        filter="true" placeholder="{{'placeholder.relation'|translate}}" itemSize="30"
                                        optionLabel="label" name="relation"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-md-4 col-12" [ngClass]="[isUpdate ? '' : 'mt-3']">
                                <div class="form-group">
                                    <label>{{'student.add.occupation'|translate}}</label>
                                    <input pinputtext type="text" placeholder="{{'placeholder.occupation'|translate}}"
                                        formControlName="occupation" name="occupation">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>{{'student.educationDetails'|translate}}</h4>
                    </div>
                    <div class="col-12">
                        <div class="row form-bg">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.inSchoolProgram'|translate}} </label>
                                    <p-dropdown [options]="schools" formControlName="school_id" filter="true"
                                        placeholder="{{'placeholder.schoolName'|translate}}" itemSize="30"
                                        optionLabel="label" name="school_id" [showClear]="true"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-md-4 col-12" >
                                <div class="form-group">
                                    <label>{{'student.add.schoolName'|translate}} </label>
                                    <input pinputtext type="text" placeholder="{{'schools.schoolName'|translate}}"
                                    formControlName="school_name" name="school_name">
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.class'|translate}}</label>
                                    <p-dropdown [options]="grade" formControlName="grade" filter="true"
                                        placeholder="{{'placeholder.grade'|translate}}" itemSize="30"
                                        optionLabel="label" name="grade" [showClear]="true"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>{{'student.medicalInfo'|translate}}</h4>
                    </div>
                    <div class="col-12">
                        <div class="row form-bg">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.bloodGroup'|translate}} </label>
                                    <p-dropdown [options]="blood_group" formControlName="blood_group"[showClear]="true"
                                        placeholder="{{'placeholder.bloodGroup'|translate}}" itemSize="30"
                                        optionLabel="label" name="blood_group"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.historyOfIllness'|translate}}</label>
                                    <textarea pInputTextarea placeholder="{{'placeholder.historyOfIllness'|translate}}"
                                        formControlName="history_of_illness" name="history_of_illness"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>{{'student.add.feeStructure'|translate}} </h4>
                    </div>
                    <div class="col-12">
                        <div class="row form-bg">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.feeStructure'|translate}}</label>
                                    <p-dropdown [options]="feeTerm" formControlName="fee_structure" 
                                         filter="true"  (onChange) ="getSelectedFeeInfo()" [showClear]="true"
                                        placeholder="{{'placeholder.feeStructure'|translate}}" itemSize="30"
                                        optionLabel="label" name="fee_structure" ></p-dropdown>
                                </div>
                            </div>
                            <!-- For Amount-->
                            <div class="col-md-8 col-12" *ngIf="selectedFeeData">
                                <div class="form-group">
                                    <label>Selected Fee Structure</label>
                                    <span>Term: {{selectedFeeData.label}}, Amount: {{selectedFeeData.amount | number}}, Tax: {{selectedFeeData.tax}}%, Discount: {{selectedFeeData.discount}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>{{'student.currentStatus'|translate}}</h4>
                    </div>
                    <div class="col-12">
                        <div class="row form-bg">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>{{'student.add.studentCurrentStatus'|translate}} <span>*</span></label>
                                    <p-dropdown [options]="status" formControlName="status"
                                        placeholder="{{'placeholder.status'|translate}}" itemSize="30" name="status"
                                        optionLabel="label" required></p-dropdown>
                                    <div class="invalid-feedback"
                                        *ngIf="studentForm.controls.status.invalid && submitted!=null && !submitted "
                                        [ngClass]=" 'error'">{{'dropdown.status'|translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <button pButton type="submit" label="{{'buttons.save'|translate}}" *ngIf="!isUpdate"
                            class="btn-warning mr-2"></button>
                        <button pButton type="submit" label="{{'buttons.update'|translate}}" *ngIf="isUpdate"
                            class="btn-warning mr-2"></button>
                        <button pButton type="button" label="{{'buttons.cancel'|translate}}" (click)="goToList()"
                            class="btn-default"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>