<div class="main-content">
    <div class="custom-form">
        <h4 class="custom-form-heading">Add Franchise</h4>
        <div class="custom-form-content">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Name <span>*</span></label>
                            <input pinputtext placeholder="Name" formControlName="name" name="name" type="text" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>
                    </div>    
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Email <span>*</span></label>
                            <input pinputtext placeholder="Email" formControlName="email" name="email" type="email" email
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Phone <span>*</span></label>
                        <input type="text" placeholder="Phone" pKeyFilter="int" formControlName="phone" name="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone is required</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Manager</label>
                        <input pinputtext type="text" placeholder="Manager" formControlName="manager" name="manager">
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Fee Structures</label>
                        <input pinputtext type="text" placeholder="Fee Structures" formControlName="fee_structures" name="fee_structures">
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Landmark</label>
                            <input pinputtext type="text" placeholder="Landmark" formControlName="landmark" name="landmark">
                        </div>
                    </div>    
                    <!-- <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Dropdown</label>
                            <p-dropdown [options]="cities" itemSize="30"></p-dropdown>
                        </div>
                    </div>                     -->
                    <!-- <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" pPassword />
                        </div>
                    </div> -->
                    <!-- <div class="col-md-4 col-12">
                        <label>Calender</label>
                        <p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar>
                    </div> -->                
                    <!-- <div class="col-md-4 col-12">
                        <label>Discount Details</label>
                        <input pinputtext type="text">
                    </div> -->                    
                    <div class="col-md-12 col-12">
                        <div class="form-group">
                            <label>Address</label>
                            <textarea pInputTextarea placeholder="Address" formControlName="address"  name="address"></textarea>
                        </div>
                    </div>
                    <!-- <div class="col-md-4 col-12">
                        <label>FileUpload</label>
                        <p-fileUpload name="myfile[]" url="./upload.php" customUpload="true" accept="image/*"
                            maxFileSize="1000000">
    
                        </p-fileUpload>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Multiple FileUpload</label>
                        <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"></p-fileUpload>
                    </div>
                    <div class="col-md-4 col-12">
                        <label>Checkbox</label>
                        <p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities"
                            inputId="ny"></p-checkbox>
                    </div> -->
                    <div class="col-12 text-right">
                        <button pButton type="submit" icon="pi pi-check" label="Save" class="btn-warning mr-2"></button>
                        <button pButton type="button" icon="pi pi-times" label="Cancel" (click)="goToList()" class="btn-default"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>