
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
      <form class="navbar-form">
        <span class="bmd-form-group">
          <div class="input-group no-border">
            <input type="text" value="" class="form-control" placeholder="Search...">
            <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
            </button>
          </div>
        </span>
      </form>
      <ul class="nav navbar-nav nav-mobile-menu">
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">dashboard</i>
                  <p>
                      <span class="d-lg-none d-md-block">Stats</span>
                  </p>
              </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p>
                      <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">You have 5 new tickets</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p>
                      <span class="d-lg-none d-md-block">Account</span>
                  </p>
              </a>
          </li>
      </ul>
    </div>
    <div class="custom-side-menu">
        <!-- <ul class="nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
                *ngFor="let menuItem of menuItems; let i = index"
                (click)="Collaps(i)" 
                id="parent_{{menuItem.title | applyUnderScore:'_':' ' | lowercase}}"
                class="nav-item" 
                [title]="menuItem.title" 
                name="{{menuItem.title | applyUnderScore:'_':' ' | lowercase}}"
                [ngClass]="{nav_icon: menuItem.childs.length>0, toggledParent: (i === expandedIndex && menuItem.childs.length>0)}">

                <a class="nav-link icon-down" *ngIf="menuItem.childs.length>0" href="javascript:;" >
                    <i class="{{menuItem.class}}">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
                <a class="nav-link icon-down" *ngIf="menuItem.childs.length==0" [routerLink]="[menuItem.path]">
                    <i class="{{menuItem.class}}">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
                <div class="navbar-collapse" [ngClass]="{'collapse': isMenuCollapse}" *ngIf="i === expandedIndex && menuItem.childs.length>0"
                    id="{{menuItem.title | applyUnderScore:'_':' ' | lowercase}}"
                    (click)="expandedIndex = -1" >
                    <ul class="sub-menu">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" id="child_{{child.title | applyUnderScore:'_':' ' | lowercase}}"
                            *ngFor="let child of menuItem.childs"  [title]="child.title">
                            <a class="nav-link" [routerLink]="[child.path]" id="{{child.title | applyUnderScore:'_':' ' | lowercase}}"> 
                              
                            </a>
                        </li>
                    </ul>
                </div> 
            </li>            
        </ul> -->
        <mat-nav-list class="nav-item" *ngFor="let menuItem of menuItems" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <a mat-list-item class="nav-link icon-down parent-menu" 
                *ngIf="menuItem.childs.length>0" href="javascript:;" (click)="menuItem.showSubmenu = !menuItem.showSubmenu;goToFirstChild(menuItem)" [title]="menuItem.title" >
               <div class="d-flex align-items-center">
                    <i class="{{menuItem.class}}">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
               </div> 
               <mat-icon class="menu-button" [ngClass]="{'rotated' : menuItem.showSubmenu}">expand_more</mat-icon>   
            </a>
            <a class="nav-link icon-down single-menu" *ngIf="menuItem.childs.length==0" [routerLink]="[menuItem.path]"  [title]="menuItem.title" >
                <i class="{{menuItem.class}}">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
            <div class="submenu" [ngClass]="{'expanded' : menuItem.showSubmenu}" *ngIf="menuItem.childs.length>0">
                <a mat-list-item *ngFor="let child of menuItem.childs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" 
                    (click)="menuItem.showFirst=!menuItem.showFirst;"
                    class="nav-link" [routerLink]="[child.path]" id="{{child.title | applyUnderScore:'_':' ' | lowercase}}">
                    <p>{{child.title}}</p>
                </a>
            </div>
        </mat-nav-list>    
    </div>
</div>