<div class="main-content">
    <div class="custom-form">
        <h4 class="custom-form-heading">{{pageTitle}}</h4>
        <div class="custom-form-content">
            <form [formGroup]="schoolForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>School Name <span>*</span></label>
                            <input pinputtext placeholder="School Name" formControlName="name" name="name" type="text" required>
                            <div class="invalid-feedback"
                                    *ngIf="schoolForm.controls.name.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">School Name is required
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>School Code <span>*</span></label>
                            <input pinputtext placeholder="School Code" formControlName="code" name="code" type="text" required>
                            <div class="invalid-feedback"
                                    *ngIf="schoolForm.controls.code.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">School Code is required
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Contact Person <span>*</span></label>
                            <input pinputtext placeholder="Contact Person Name" formControlName="contact_person" name="contact_person" type="text" required>
                            <div class="invalid-feedback"
                                    *ngIf="schoolForm.controls.contact_person.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">Contact Person is required
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Contact Number <span>*</span></label>
                            <input pinputtext placeholder="Contact Number" pKeyFilter="pint" formControlName="phone" name="phone" type="text" required>
                            <div class="invalid-feedback"
                                    *ngIf="schoolForm.controls.phone.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">Contact Number should be minimum 10 digits
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Contact Email <span>*</span></label>
                            <input pinputtext placeholder="Contact Email" formControlName="email" name="email" type="email" required>
                            <div class="invalid-feedback"
                                 *ngIf="schoolForm.controls.email.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">Email is required and should be in proper format!
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12" *ngIf="!hideFranchise">
                        <div class="form-group">
                            <label>Franchise <span>*</span></label>
                            <p-dropdown [options]="franchise" formControlName="franchise_id" filter="true" placeholder="Select Franchise" itemSize="30"
                            name="franchise_id" optionLabel="label" required></p-dropdown>
                            <div class="invalid-feedback"
                                 *ngIf="schoolForm.controls.franchise_id.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">Franchise is required
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12 col-12">
                        <div class="form-group">
                            <label>Address</label>
                            <textarea pInputTextarea placeholder="Address" formControlName="address" name="address"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>State <span>*</span></label>
                            <p-dropdown [options]="state" formControlName="state" filter="true" placeholder="Select State" itemSize="30"
                            name="state" optionLabel="label" required></p-dropdown>
                            <div class="invalid-feedback"
                                *ngIf="schoolForm.controls.state.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">State is required
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>City <span>*</span></label>
                            <p-dropdown [options]="city" formControlName="city" filter="true" placeholder="Select City" itemSize="30"
                            name="state" optionLabel="label" required></p-dropdown>
                            <div class="invalid-feedback"
                                *ngIf="schoolForm.controls.city.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">City is required
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>PinCode</label>
                            <input type="text" placeholder="PinCode" pKeyFilter="pint" formControlName="pincode" name="pincode">
                        </div>
                    </div>
                    <div class="col-12 text-right custom-btn">
                        <button pButton type="submit" label="Save" *ngIf="!isUpdate" class="btn-warning mr-2"></button> 
                        <button pButton type="submit" label="Update" *ngIf="isUpdate" class="btn-warning mr-2"></button>
                        <button pButton type="button" label="Cancel" (click)="goToList()" class="btn-default"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>