<div class="main-content">
    <div class="custom-form">
        <h4 class="custom-form-heading">{{pageTitle}}</h4>
        <div class="custom-form-content">
            <form [formGroup]="schoolForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'schools.schoolName'|translate}} <span>*</span></label>
                            <input pinputtext placeholder="{{'schools.schoolName'|translate}}" formControlName="name" name="name" type="text" required>
                            <div class="invalid-feedback"
                                    *ngIf="schoolForm.controls.name.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'errorMessages.schoolName'|translate}}
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'schools.schoolCode'|translate}} <span>*</span></label>
                            <input pinputtext placeholder="{{'schools.schoolCode'|translate}}" formControlName="code" name="code" type="text" required>
                            <div class="invalid-feedback"
                                    *ngIf="schoolForm.controls.code.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'errorMessages.schoolcode' |translate}}
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'schools.contactPerson'|translate}} <span>*</span></label>
                            <input pinputtext placeholder="{{'schools.contactPerson'|translate}}" formControlName="contact_person" name="contact_person" type="text" required>
                            <div class="invalid-feedback"
                                    *ngIf="schoolForm.controls.contact_person.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'errorMessages.contactPersonRequired'|translate}}
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'schools.contactNumber'|translate}} <span>*</span></label>
                            <input pinputtext placeholder="{{'schools.contactNumber'|translate}}" pKeyFilter="pint" formControlName="phone" name="phone" type="text" required>
                            <div class="invalid-feedback"
                                    *ngIf="schoolForm.controls.phone.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'errorMessages.contactNumber'|translate}}
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'schools.contactEmail'|translate}}<span>*</span> (School Admin created by this email)</label>
                            <input pinputtext placeholder="{{'schools.contactEmail'|translate}}" formControlName="email" name="email" type="email" required>
                            <div class="invalid-feedback"
                                 *ngIf="schoolForm.controls.email.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'errorMessages.contactEmail'|translate}}
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12" *ngIf="hideFranchise">
                        <div class="form-group">
                            <label>{{'schools.franchise'|translate}} <span>*</span></label>
                            <p-dropdown [options]="franchise" formControlName="franchise_id" filter="true" placeholder="{{'placeholder.franchise'|translate}}" itemSize="30"
                                name="franchise_id" optionLabel="label" required></p-dropdown>
                            <div class="invalid-feedback"
                                 *ngIf="schoolForm.controls.franchise_id.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'errorMessages.franchiseUser'|translate}}
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12 col-12">
                        <div class="form-group">
                            <label>Address</label>
                            <textarea pInputTextarea placeholder="Address" formControlName="address" name="address"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'schools.state'|translate}} <span>*</span></label>
                            <p-dropdown [options]="state" formControlName="state" filter="true" placeholder="{{'placeholder.state'|translate}}" itemSize="30"
                            name="state" optionLabel="label" required></p-dropdown>
                            <div class="invalid-feedback"
                                *ngIf="schoolForm.controls.state.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'dropdown.state'|translate}}
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'schools.city'|translate}} <span>*</span></label>
                            <p-dropdown [options]="city" formControlName="city" filter="true" placeholder="{{'placeholder.city'|translate}}" itemSize="30"
                            name="state" optionLabel="label" required></p-dropdown>
                            <div class="invalid-feedback"
                                *ngIf="schoolForm.controls.city.invalid && submitted!=null && !submitted"
                                [ngClass]=" 'error'">{{'dropdown.city'|translate}}
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>{{'schools.pincode'|translate}}</label>
                            <input type="text" placeholder="{{'schools.pincode'|translate}}" pKeyFilter="pint" formControlName="pincode" name="pincode">
                        </div>
                    </div>
                    <div class="col-12 text-right custom-btn">
                        <button pButton type="submit" label="{{'buttons.save'|translate}}" *ngIf="!isUpdate" class="btn-warning mr-2"></button> 
                        <button pButton type="submit" label="{{'buttons.update'|translate}}" *ngIf="isUpdate" class="btn-warning mr-2"></button>
                        <button pButton type="button" label="{{'buttons.cancel'|translate}}" (click)="goToList()" class="btn-default"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>