<div class="main-content">
    <div class="custom-form">
        <h4 class="custom-form-heading">Add Fee</h4>
        <div class="custom-form-content">
            <form [formGroup]="feeForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>School Name <span>*</span></label>
                            <input pinputtext placeholder="School Name" formControlName="name" name="name" type="text" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">School Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Phone Number <span>*</span></label>
                            <input type="text" placeholder="Phone Number" pKeyFilter="int" formControlName="phone_no" name="phone_no"
                                [ngClass]="{ 'is-invalid': submitted && f.phone_no.errors }">
                            <div *ngIf="submitted && f.phone_no.errors" class="invalid-feedback">
                                <div *ngIf="f.phone_no.errors.required">Phone is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Email <span>*</span></label>
                            <input pinputtext placeholder="Email" formControlName="email" name="email" type="email" email
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <Label>Address:</Label>
                        </div>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>Country <span>*</span></label>
                            <input type="text" placeholder="Country"  formControlName="country" name="country"
                                [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                <div *ngIf="f.country.errors.required">Countrty is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>State <span>*</span></label>
                            <input type="text" placeholder="State"  formControlName="state" name="state"
                                [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.country.state.required">Countrty is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label>City <span>*</span></label>
                            <input type="text" placeholder="city"  formControlName="city" name="city"
                                [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.country.city.required">Countrty is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <button pButton type="submit" icon="pi pi-check" label="Save" class="btn-warning mr-2">Save</button>
                        <button pButton type="button" icon="pi pi-times" label="Cancel" (click)="goToList()" class="btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>