/* You can add global styles to this file, and also import other style files */
// @import "theme/toaster";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.toast-bootstrap-compatibility-fix {
  opacity:1;
}

//form styles start here
.custom-form{
  background-color: #fff;
  border: 1px solid #ccc;
  .btn-warning,
  .btn-default{
    padding: 4px 15px;
    border-radius: 4px;
    font-size: 14px;
  }
  .custom-form-heading{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 5px 15px;
    border-bottom: 1px solid #ccc;
    background: #e4e4e8;
  }
 
  .custom-form-content{
    padding: 15px;
  }
  label{
    display: block;
    font-size: 14px;
    margin-bottom: 2px;
  }
  input{
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 36px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    &:focus{
      border-color: #e87a26 ;
    }
    &::placeholder {
      color: #aaaaaa;
    }
  }
  p-dropdown{
    .ui-dropdown{
      border: 1px solid #ccc;
      height: 36px;
      padding: 1px 8px;
      font-size: 14px !important;
      width: 100% !important;
      &:hover{
        border-color: #ccc !important;
      }
    }
  }
  .ui-inputtext{
    width: 100%;
    border: 1px solid #ccc;
  }
  p-calendar{
    .ui-calendar{
      display: flex;
      align-items: center;
    }
    .pi-calendar:before{
      content: '\e216';
      font-family: 'tssfont' !important;
    }
   
    .ui-button{
      color: #303030;
      background-color: #fff;
      border: 1px solid #ccc;
      border-left: none;
      font-size: 14px;
      padding: 0px 2px 3px;
      line-height: 20px;
      &:enabled:hover{
        background-color: #fff;
        color: #303030;
        border-color: #ccc;
      }
    }
  }
  p-checkbox{
    display: flex;
    align-items: center;
    .ui-chkbox-icon{
      font-size: 12px !important;
      line-height: 18px;
    }
  
  }
  .mat-step-header:hover{
     background-color: transparent !important;
     .mat-step-header{
      .mat-step-icon{
        background-color: #e87a26 !important;
      }
      .mat-step-label{
        color: #e87a26 !important;
      }
     } 
  
  }
  .mat-step-header .mat-step-icon-selected,
   .mat-step-header .mat-step-icon-state-done,
    .mat-step-header .mat-step-icon-state-edit {
    background-color: #e87a26 !important;
  }
  .cdk-focused,
  .cdk-mouse-focused{
    background-color: #ffffff !important;
  }
} 
body .ui-inputtext:enabled:hover:not(.ui-state-error){
  border-color:#ccc !important;
}
//form styles end here  
//table styles start here
.custom-table{
p-table{
  .ui-table{
    .ui-table-caption{
      background-color: transparent !important;
      border: 0px solid #c8c8c8 !important;
      padding: 0 0px 8px 0px;
      .input-dropdown{
        .ui-dropdown{
          border: 1px solid #ccc;
          text-align: left;
        }
        .ui-inputtext{
          border: 0px solid #ccc;
        }
      }
      .ui-inputtext{
          border: 1px solid #ccc;
          height: 30px;
          &::placeholder {
            color: #aaa;
          }
      }
      .ui-button-text {
        padding: 4px 10px;
    }
    i{
      color: #666666;
    }
    }
    .ui-table-thead {
      .ui-state-highlight{
        outline: none;
       .ui-sortable-column-icon {
          color: #e87a26;
      }
      }
      th{
        padding: 0.45rem;
        border: 0px solid #c8c8c8;
        font-weight: 600;
        border-top: 1px solid #dee2e6;
        color: #333333;
        background-color: #e1e1e1;
        font-size: 14px;
        p-sorticon{
           .pi {
            font-size: 14px;
        }
        }
        &:focus{
          outline: none;
        }
        &:last-child{
            width: 85px;
            text-align: right;
        }
      }
    } 
    .ui-table-tbody{
      tr{
        background-color: transparent;
        
      &:first-child{
        border-top: 1px solid #ccc;
      }
      &:nth-child(even) {
        background-color: #f2f2f2;
    }
    &:focus{
       border: 0px solid #eee !important;
    }
    }
      td{
        padding: 0.45rem;
        border: 0px solid #c8c8c8;
        border-bottom: 1px solid #dee2e6;
        span{
          display: block;
          width: 99%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: break-word;
         
        }
        &:last-child{
          span{
            justify-content: flex-end !important;
          }
          a{
            color: #303030 !important;
          }
         
        }
      }
    }
    .ui-paginator {
      background-color: transparent;
      border: 0px solid #c8c8c8;
      padding: 0;
      margin-top: 10px;
      .ui-paginator-page,
      .ui-paginator-prev,
      .ui-paginator-next,
      .ui-paginator-last,
      .ui-paginator-first{
        height: 25px;
        min-width: 25px;
        border-radius: 4px;
        line-height: 26px;
        // &:focus{
        //   border: none;
        // }
      }
       .ui-paginator-page:focus{
        background-color: #e87a26 !important;
        border-color: #e87a26 !important;
        outline: none !important;
       }
        .ui-state-active{
          background-color: #e87a26 !important;
          border-color: #e87a26 !important;
          outline: none !important;
          &:focus{
            background-color: #e87a26 !important;
            border-color: #e87a26 !important;
            outline: none !important;
          }  
        }
    
   
  }
  }

}

}
.franchise-list{
  thead{
    th{
      &:nth-child(1){
        width: 135px;
      }
      &:nth-child(4){
        width: 145px;
      }
      &:nth-child(5){
        width: 100px;
      }
      &:nth-child(6){
        width: 110px;
      }
      &:nth-child(7){
        width: 90px;
      }
    }
  }
  tbody{
    tr{
      cursor: pointer;
      &:hover{
        background-color: #e4e4e4 !important;
      }
    }
  }
 
}
.ticket-list{
  tbody{
    tr{
      cursor: pointer;
      &:hover{
        background-color: #e4e4e4 !important;
      }
    }
  }
}
//table styles end here
.custom-view{
  background-color: #fff;
  // border: 1px solid #ccc;
  // margin-bottom: 15px;
  .btn-warning,
  .btn-default{
    padding: 4px 15px;
    border-radius: 4px;
    font-size: 14px;
  }
  .custom-view-heading{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 5px 15px;
    border-bottom: 1px solid #ccc;
    background: #f1f1f6;
  }
 
  .custom-view-content{
    padding: 15px 0px;
  }
  label{
    display: block;
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 400;
    color: #979797;
  }
 p{
   font-size: 14px;
   margin-bottom: 0px;
 }

} 
.login-page {
  background-image: url(/assets/img/login-bg.png);
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  display: flex;
  align-items: center;
  &:before{
    background: #ddd;
    content: '';
    opacity: 0.9;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
  }
  .card-profile{
    border: 0px;
    box-shadow: 0px 0px 20px #999;
    background-color: #fff;
    border-radius: 4px;
    .custom-form{
       border: none;
       padding: 20px 5px 30px;
       border-radius: 4px;
       input{
         height: 42px;
       }
       button{
         width: 100%;
         height: 42px;
         border-radius: 4px;
         font-weight: bold;
       }
       .forget-psd{
          text-align: center;
          margin-top: 10px;
          a{
            font-size: 14px;
            color: #2196f3;
            &:hover{
              color: #0a6ebd;
            }
          }
       }
    }
   
    }
  .login-logo{
    width: 70px;
    margin: 0px auto 0px;
    padding-top: 30px;
    img{
      width: 100%;
    }
  }
  .login-title{
    h1{
      text-align: center;
    position: relative;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 20px;
    &:before{
      content: '';
      display: inline-block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #E9EAEB;
      top: 15px;
      left: 0;
    }
    span{
    font-size: 18px;
    text-transform: uppercase;
    z-index: 5;
    background: #fff;
    display: inline-block;
    position: relative;
    padding: 5px;
    color: #8E8C8D;
    font-weight: 600;
    }
  
    }
   
  }

}
.ui-dropdown-open {
  border-color: #e87a26  !important;
}
.ui-inputtext:enabled:focus + button{
  border-color: #e87a26  !important;
}
.page-title-card{
  margin-top: 61px;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  z-index: 1;
  h4{
    margin: 0;
    font-weight: bold;
    font-size: 16px !important;
    color: #979797 !important;
  }
}
.custom-search{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .input-search{
    i{
      position: absolute;
      z-index: 0;
      margin: 8px 0px 0px;
      right: 65px;
    }
  }
}
.ui-inputtext:enabled:focus {
  border-color: #e87a26 !important;
}
.copyright-block{
  position: relative;
  width: 100%;
  
  .copyright-text{
    padding: 10px 15px;
    width: 100%;
    background: #d2d2d2;
    p{
      font-size: 14px;
      margin: 0;
      color: #303030;
      text-align: center;
    }
  }
  
}
// .show-menu {
//   .copyright-text{
//     display: none;
//   }
//   .custom-side-menu{
//     border-bottom: 0px solid #bbbbbb;
//   }
// }
.custom-side-menu{
  // height: calc(100vh - 130px);
  // border-bottom: 1px solid #bbbbbb;
  // overflow-y: scroll;

}
.dropdown-menu.show{
  display: block;
}
.dropdown-menu{
  display: none;
}
.sidebar .nav li.active{
  .dropdown-menu.show li a{
    color: #000000 !important;
    i{
     color: #000000 !important;
    }
    p{
     color: #000000 !important;
    }
 }
}
.nav_icon .icon-down::after{
  content: '\e1d4';
  font-family: 'tssfont' !important;
  right: 3px;
  position: absolute;
  color: #616263;
}
.nav_icon.active .icon-down::after,
.nav_icon:hover .icon-down::after{
  color: #ffffff;
}
.nav_icon.active .icon-down::after{
  transform: rotate(180deg);
}
.nav_icon.open .icon-down::after,
.toggledParent .icon-down::after{
  transform: rotate(180deg);
  color: #616263;
}

/* Scrollbar Styling */
.sidebar-wrapper::-webkit-scrollbar {
  width: 5px;
}

.sidebar-wrapper::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.sidebar-wrapper::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #6d6d6d; 
}

// roll-tabs styles
.roll-tabs{
  .ui-tabview{
    display: flex;
    padding: 0;
    ul{
      width: 250px;
      margin-bottom: 0px !important;
      min-height: 100% !important;
      background: #e4e4e4 !important;
      border-radius: 0 !important;
      li{
        margin-right: 0px !important;
        border: 0px solid #c8c8c8 !important;
        background-color: #e4e4e4 !important;
        top: 0px !important;
        width: 100%;
        border-radius: 0px !important;
        border-bottom: 1px solid #c4c4c4!important;
        &:focus{
          outline: none;
        }
        &:hover{
          background-color: #ffffff !important;
        
        }
        &.ui-state-active{
          background-color: #ffffff !important;
          a{
            color: #303030 !important;
          }
          &:hover{
            .ui-tabview-left-icon{
              color: #303030 !important;
            }
          }
        
        }
        a{
          font-weight: 400 !important;
          padding: 6px 10px !important;
          .ui-tabview-left-icon{
            font-size: 15px;
          }
        }
      }
    }
    .ui-tabview-panels{
      height: calc( 100vh - 200px );
      border: none !important;
      width: calc(100% - 250px );
      padding: 15px !important;
    }
  }
  .roletab-content{
    background: #eeeeee;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    h4{
      font-size: 14px;
      margin: 0;
      font-weight: 500;
      line-height: 18px;
    }
    .ui-chkbox {
      width: 15px;
      height: 18px;
     }
    .ui-chkbox-box{
      width: 15px;
      height: 15px;
      .ui-chkbox-icon {
        font-size: 14px;
    }
    }
    .ui-state-focus{
      box-shadow: none !important;
    }
  }
}
.roll-tabs-heading{
   display: flex;
   .tabs-heading-leftblock{
    width: 250px;
    padding: 10px;
    background: #d2d1d1;
    h4{
      font-size: 15px;
      line-height: 20px;
      margin: 0;
      font-weight: 500;
    }
   }
   .tabs-heading-rightblock{
    padding: 7px 10px;
    width: calc( 100% - 250px );
    background: #c1c1c1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
      font-size: 15px;
      line-height: 20px;
      margin: 0;
      font-weight: 500;
    }
    .btn-warning{
      .ui-button-text{
        padding: 3px 10px !important;
      }
    
    }
   }
}
.student-form{
  h4{
    font-size: 16px;
    margin: 0 0 5px;
    font-weight: 500;
  }
  .btn-warning{
    padding: 0px;
  }
  .btn-default{
    padding: 0px;
  }
}
.custom-btn{
  .btn-warning{
    padding: 0px;
  }
  .btn-default{
    padding: 0px;
  }
}
.wd-30{
  width: 30px !important;
  text-align: right;
}
.school-list{
  thead{
    th{
      &:nth-child(3){
        text-align: center;
      }
    }
  }
  td{
    &:nth-child(3){
      text-align: center;
    }
  }
}
// .fee-list{
//   thead{
//     th{
//       &:nth-child(2){
//         text-align: right;
//         width: 100px;
//       }
//       &:nth-child(4){
//         text-align: right;
//         width: 170px;
//       }
//     }
//   }
//   td{
//     &:nth-child(2){
//       text-align: right;
//     }
//     &:nth-child(4){
//       text-align: right;
//     }
//   }
// }
.view-page{
  .custom-view-list{
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    padding: 15px;
    width: 100%;
    float: left;
    display: table-cell;
    margin-bottom: 15px;
    span{
      display: block;
    }
    
    .custom-view-div{
      display: table-cell;
      width: 1%;
      font-size: 14px;
      margin-bottom: 0px;
      color: #979797;
    }
    .franchise-name{
      width: 2%;
      border-right: 1px solid #cccccc;
     
      span{
        color: #303030;
      }
    }
    .schools-text,
    .students-text{
      border-right: 1px solid #cccccc;
      padding-left: 10px;
    }
    .trainers-text{
      padding-left: 10px;
    }
    .schools-text{
      span{
        font-size: 20px;
        font-weight: bold;
        color: #e87a26;
        line-height: 22px;
      }
    }
    .trainers-text{
      span{
        font-size: 20px;
        font-weight: bold;
        color: #e87a26;
        line-height: 22px;
      }
    }
    .students-text{
      span{
        font-size: 20px;
        font-weight: bold;
        color: #e87a26;
        line-height: 22px;
      }
    }
   
  }
}
.clearfix{
  clear: both;
}
.custom-tabs{
  .ui-tabview{
    padding: 0;
    .ui-tabview-nav{
      li{
        margin-bottom: 0px;
        margin-right: -1px !important;
        border-radius: 0px !important;
        a{
          font-weight: 400 !important;
          outline: none !important;
        }
        &:focus{
          box-shadow: none !important;
          outline: none !important;
        }
        &:hover{
          background-color: #ffffff !important;
          a{
            color: #e87a26 !important;
          }
        
        }
      }
      li.ui-state-active{
        border: 1px solid #c8c8c8 !important;
        border-bottom: 0px solid #c8c8c8 !important;
        background-color: #ffffff !important;
        a{
          color: #e87a26 !important;
          font-weight: 500 !important;
        
        }
      }
    } 
  }
}
.custom-veiw-rightside{
  background-color: #fff;
    padding: 5px 12px;
    border: 1px solid #c4c4c4;
    margin-bottom: 15px;
    .revenue-text{
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #303030;
      padding-bottom: 4px;
    }
    .student-text{
      font-size: 14px;
      color: #979797;
      font-weight: 500;
      border-top: 1px solid #eeeeee;
      padding: 4px 0px 6px;
    }
 
    span{
      display: block;
      color: #303030;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
  .custom-flex{
    display: flex;
    justify-content: space-between;
  }
  .red-text{
    font-size: 16px;
    font-weight: 500;
    color: #ff0000;
    display: block;
  }
  .green-text{
    font-size: 16px;
    font-weight: 500;
    color: #30ad07;
    display: block;
  }
  .due-text{
    font-size: 13px;
    color: #e87a26;
    text-align: right;
  }
}
.custom-static-view{
  background-color: #fff;
  padding: 10px 12px;
  border: 1px solid #c4c4c4;
  h4{
    font-size: 14px;
    font-weight: 500;
    margin: 0px 0px 10px;
    color: #303030;
    line-height: 14px;
  }
 
}
p-dialog{
  .custom-form{
    border: none !important;
  }
  .ui-dialog .ui-dialog-content{
    overflow:  hidden !important;
  }
}
.custom-lastchild-list{
  thead{
    th{
      &:last-child{
        width: auto !important;
        text-align: left !important;
      }
    }
  }
  td{
    &:last-child{
      text-align: left !important;
    }
  }
}
.custom-student-list{
  th{
    &:nth-child(2),
    &:nth-child(8){
      width: 100px;
    }
    &:nth-child(6){
      width: 150px;
    }
  }
}
.revenue-month-dropdown{
  .ui-dropdown {
    min-width: 50px;
    border: 0px solid #eee !important;
    padding: 0 !important;
    line-height: 4px;
    .ui-dropdown-trigger{
       top: -2px;
    }
  }
  .ui-inputtext{
    &::placeholder {
      color: #303039;
    }
}
input{
  &::placeholder {
    color: #303039;
  }
}

}
.users-list{
  thead{
    th{
      &:nth-child(4),
      &:nth-child(6){
        width: 100px;
      }
      &:nth-child(3){
         width: 150px;
      }
    }
  }
}

